<div class="dailiright_top">
  <%=image_tag "new/dailiimg/biaoge_21.gif", class:"biaoimg" %>
  <div class="biaotou">
    <h1>投注记录遗漏表</h1>
    <p>显示当月返回的之前月份产生的投注及输赢</p>
  </div>
</div>
<div class="dailiright_down">
  <%= render partial: "agent/shared/date_filter_and_export_excel", locals: {thispath: yilou_agent_members_path} %>
  <table class="biaoge">
          <tbody><tr>
            <th class=""></th>
            <th class="">AG</th>
            <th class="">PT</th>
            <th class="">杀吧</th>
            <th class="">BBIN</th>
            <th class="">GD</th>
            <th class="">MG</th>
            <th class="">总计</th>
          </tr>
          <tr>
            <td class="">投注额</td>
            <td class="">0.00</td>
            <td class="">0.00</td>
            <td class="">0.00</td>
            <td class="">0.00</td>
            <td class="">0.00</td>
            <td class="">0.00</td>
            <td class="">0.00</td>
          </tr>
          <tr>
            <td class="">输赢额</td>
            <td class="">0.00</td>
            <td class="">0.00</td>
            <td class="">0.00</td>
            <td class="">0.00</td>
            <td class="">0.00</td>
            <td class="">0.00</td>
            <td class="">0.00</td>
          </tr>
        </tbody></table>
</div>
