<% content_for :page_title do %>
  <%= link_to "人员管理", admin_administrators_url %> /
   查看人员
<% end %>
<div>
  <table class="table table-striped">
    <tbody>
      <tr>
        <td>电子邮箱</td>
        <td><%= @administrator.email %></td>
      </tr>
      <tr>
        <td>创建时间</td>
        <td><%= @administrator.display_created_at %></td>
      </tr>
    </tbody>
  </table>
</div>
