var info = "<%= ( render :partial => 'show',:formats=>[:html] ).to_json %>";
var options = {
  closeHTML: '<a class="modalCloseImg" title="Close" style="float:right;"><i class="fa fa-close"></i></a>',
  minHeight:240,
  minWidth: 240,
  overlayCss: { backgroundColor: '#000000', opacity: 0.5 },
  containerCss: { width: '240px', height: '240px', padding: '16px 24px', borderRadius: '10px', backgroundColor: '#FFFFFF',
    border: "1px solid #999" }
}
$.simplemodal(info.substring(6,info.length-6), options);
