<div> <h2 class="page-header">通知详情 </h2>
</div>
<div>
<p>
  <strong>主题:</strong>
  <%= @message.title %>
</p>
<p>
  <strong>创建时间:</strong>
  <%= @message.display_created_at %>
</p>
<p>
  <strong>内容:</strong>
  <%= @message.content %>
</p>
<p>
  <strong>通知类型:</strong>
  <%= @message.message_type %>
</p>
</div>
