<div class="row profile">

  <div class="col-md-2">
    <p>你好！ <%= current_user.nickname %> </p>
    <p>  最近登录：2016-10-17 18:25:16  </p>
  </div>
  <div class="col-md-10">
      <div class="pull-left">
        账户资产（资产 =中心钱包+其他平台钱包）
      </div>
      <div class="pull-right">
        资金密码
        电子邮箱
        密保问题
      </div>

      <div class="pull-right">
        安全指数80 提升
      </div>

  </div>
</div>
