<%= render partial: "profile" %>

<div class="row">

  <%= render partial: "shared/user_sidebar" %>

  <div class="col-md-9 user-content" >

    <h3>User</h3>
    <p>Name: <%= @user.nickname if @user.nickname %></p>
    <p>Email: <%= @user.email if @user.email %></p>
  </div>
</div>
