<!--<div id="floatTools" class="rides-cs" style="height:202px;">
  <div class="floatL">
    <a id="aFloatTools_Show" class="btnOpen" style="display: none;" title="查看在线客服" href="javascript:void(0);">展开</a>
    <a id="aFloatTools_Hide" class="btnCtn" style="display: block;" title="关闭在线客服" href="javascript:void(0);">收缩</a>
  </div>
  <div id="divFloatToolsView" class="floatR" style="width: 110px; margin-top: 20px;">
    <div class="cn">
      <ul>
        <li class="qqqq">
          <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2041096995&site=qq&menu=yes">
            <div class="qq_img" style=""></div>
          </a>
        </li>
        <li class="weixinxin">
          <div class="wx_img" style=""></div>
          <div class="xiann">
            <img src="http://www.ballmerasia.com/info/templets/default/images/weiwei.jpg">
          </div>
        </li>
        <li style="background:#f89c7e;border:none;">
          <div class="hh_img" style=""></div>
        </li>
      </ul>
    </div>
  </div>
</div>-->
