<section class="sidebar">
	<div class="subNav">
		<div class="huiyuanxinxi">
			<img src="" class="touxiang">
			<div class="xinxi_right">
			<h5>名字</h5><h5 style="margin-left:0.2em">姓</h5>
			<p>USD 账户</p>
			<p style=margin-top:1.2em;"">余额<i>$0</i></p>
			<p>已投资<i>$0</i></p>
			</div>
		</div>
	</div>

	<div class="subNav" style="clear:both"><h6>个人中心</h6></div>
	<div class="subNav"><h6>二级客户推广状况</h6></div>
	<ul class="navContent">
		<li><a href="#">月推广效果表</a></li>
		<li><a href="#">月盈利表</a></li>
		<li><a href="#">日推广效果表</a></li>
		<li><a href="#">日盈利表</a></li>
		<li><a href="#">日结余表</a></li>
	</ul>
	<div class="subNav"><h6>二级客户推广状况</h6></div>
	<ul class="navContent">
		<li><a href="#">月推广效果表</a></li>
		<li><a href="#">月盈利表</a></li>
		<li><a href="#">日推广效果表</a></li>
		<li><a href="#">日盈利表</a></li>
		<li><a href="#">日结余表</a></li>
	</ul>
	<div class="subNav"><h6>三级客户推广状况</h6></div>
	<ul class="navContent">
		<li><a href="#">月推广效果表</a></li>
		<li><a href="#">月盈利表</a></li>
		<li><a href="#">日推广效果表</a></li>
		<li><a href="#">日盈利表</a></li>
		<li><a href="#">日结余表</a></li>
	</ul>
	<div class="subNav"><h6>四级客户推广状况</h6></div>
	<ul class="navContent">
		<li><a href="#">月推广效果表</a></li>
		<li><a href="#">月盈利表</a></li>
		<li><a href="#">日推广效果表</a></li>
		<li><a href="#">日盈利表</a></li>
		<li><a href="#">日结余表</a></li>
	</ul>
	<div class="subNav"><h6>五级客户推广状况</h6></div>
	<ul class="navContent">
		<li><a href="#">月推广效果表</a></li>
		<li><a href="#">月盈利表</a></li>
		<li><a href="#">日推广效果表</a></li>
		<li><a href="#">日盈利表</a></li>
		<li><a href="#">日结余表</a></li>
	</ul>
	<div class="subNav"><h6>六级客户推广状况</h6></div>
	<ul class="navContent">
		<li><a href="#">月推广效果表</a></li>
		<li><a href="#">月盈利表</a></li>
		<li><a href="#">日推广效果表</a></li>
		<li><a href="#">日盈利表</a></li>
		<li><a href="#">日结余表</a></li>
	</ul>
	<div class="subNav"><h6>交易平台</h6></div>
	<ul class="navContent">
		<li><a href="#">高/低</a></li>
		<li><a href="#">高于/低于</a></li>
	</ul>
	<div class="subNav"><h6>我的交易</h6></div>
	<div class="subNav"><h6>银行</h6></div>
	<ul class="navContent">
		<li><a href="#">电子钱包</a></li>
		<li><a href="#">入金</a></li>
		<li><a href="#">提现</a></li>
		<li><a href="#">交易记录</a></li>
	</ul>
	<div class="subNav"><h6>账户设置</h6></div>
	<ul class="navContent">
		<li><a href="#">上传文件</a></li>
		<li><a href="#">设置登录密码</a></li>
		<li><a href="#">设置资金密码</a></li>
	</ul>
	<div class="subNav"><h6>报告</h6></div>
	<ul class="navContent">
		<li><a href="#">可供交易资产</a></li>
		<li><a href="#">账户信息</a></li>
		<li><a href="#">期满价格</a></li>
	</ul>
</section>
