<div class="row">
  <div class="col-md-10">
    <%= render partial: "agent/shared/date_filters", locals: {filter_path: thispath} %>
  </div>
  <div class="col-md-2">
    <div style="padding:30px 0;">
    <%=link_to "导出EXCEL", thispath+".xls", class:"dairicha"%>
    </div>
  </div>
</div>
