<div class=" " >
  <div class="container">
    <div class="navbar-header">
      <h1>
        <p id="admin-logo"><%= link_to image_tag('agent/logo.jpg'), agent_root_path, id: 'agent-logo' %></p>
      </h1>
    </div>
    <div class="pull-right">
      <%= render 'agent/shared/login_info_for_navbar' %>
    </div>
  </div>
</div>

<div class="main-menu navbar-inverse" role="navigation">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
