<form>
	<ul>
		<li><input type="radio"><img src="images/zhongguo.gif"></li>
		<li><input type="radio"><img src="images/gongshang.gif"></li>
		<li><input type="radio"><img src="images/nongye.gif"></li>
		<li><input type="radio"><img src="images/jianshe.gif"></li>
	</ul>
	<ul>
		<li><input type="radio"><img src="images/jiaotong.gif"></li>
		<li><input type="radio"><img src="images/zhaoshang.gif"></li>
		<li><input type="radio"><img src="images/shanghai.gif"></li>
		<li><input type="radio"><img src="images/shenzhen.gif"></li>
	</ul>
	<ul>
		<li><input type="radio"><img src="images/guangda.gif"></li>
		<li><input type="radio"><img src="images/minsheng.gif"></li>
		<li><input type="radio"><img src="images/huaxia.gif"></li>
		<li><input type="radio"><img src="images/fazhan.gif"></li>
	</ul>
	<ul>
		<li><input type="radio"><img src="images/shiye.gif"></li>
		<li><input type="radio"><img src="images/nongchun.gif"></li>

	</ul>
	<div class="zhifuzuo">
	<span>提现金额:</span><input type="text" id="oInput" onblur="change1()" onclick="change2()" class="zijin" value="请输入提现金额">
   	</div>
   	<div class="zhifuyou">
   	<span>活动代码:</span><input type="text" id="oInput" onblur="change1()" onclick="change2()" class="zijin" value="未参加活动不用填写">
   	</div>
   	<hr>
	<input type="submit" class="txan" value="上传">
	</form>
