<div class="anquan_img">
  <%=image_tag "new/noimages/guochong_03.gif"%>
  <hr>
</div>
<div class="chongzhi_top">
  <a href="">
    <span>银行电汇</span>
  </a>
  <a href="">
    <span>国际信用卡</span>
  </a>
  <p>说明：支付最低限额：RMB50.00元，支付最高限额RMB50.000.00元</p>
</div>
<div class="chongzhinei">
  <%=image_tag "new/noimages/guochong_07.gif"%>
  <%=image_tag "new/noimages/guochong_08.png"%>
</div>
