<div class="biaoti">
	<p class="fanhui">&lt;</p>
	<p class="iphonelan">充值</p>
</div>

<div id="shougerentong1">

	<div class="shou_top2">
		<%= simple_form_for(deposit, url: my_deposits_path ) do |f| %>
			<ul>
				<li class="biduan">充值币种</li><li class="bichang"><select><option>美元(USD)</option></select></li>
				<li class="biduan">充值金额</li><li class="bichang"><input type="text" value="请输入充值金额"></li>
				<li class="biduan">持卡人</li><li class="bichang"><input type="text" value="请输入持卡人姓名"></li>
				<li class="biduan">卡类型</li><li class="bichang"><select><option>银行卡</option></select></li>
				<li class="biduan">银行卡号</li><li class="bichang"><input type="text" value="请输入银行卡号"></li>
				<li class="biduan">证件类型</li><li class="bichang"><select><option>身份证</option></select></li>
				<li class="biduan">证件号码</li><li class="bichang"><input type="text" value="请输入办卡证件号码"></li>
				<li class="biduan">预留手机</li><li class="bichang"><input type="text" value="请输入办卡预留手机号码"></li>
			</ul>
			<p class="ipjinshi">*支持已开通的网银银行卡</p>
			<button class="zhucejiaoyi"></button>
		<% end %>
	</div>

</div>
