.huiyuanbody{
	width: 100%;
	background-image:image-url('new/noimages/hybg_02.gif');
	background-repeat: no-repeat;
	overflow: hidden;

}
.hybody_top{
	width: 1100px;

	margin:auto;
	    overflow: hidden;
    background: #232323;
    border-bottom: 2px solid #000;
}
.hbtop_left{
	width: 250px;
	float: left;
	height: 300px;
	text-align: center;

}
.hbtop_left img{
	width: 130px;
	height: 135px;
	border: 2px solid #fff;

	margin-top: 40px;
}
.hbtop_left h2{
	font-size: 18px;
	font-weight: bold;
	font-family: 微软雅黑;
	line-height: 36px;
	color: #fff;
}
.hbtop_right{
	width: 450px;
	overflow: hidden;
	padding-top: 20px;
	height: 300px;
	float: left;
}
.bton{
	width: 320px;
	float: left;
}
.yuanbg{
	width: 320px;
    height: 45px;
	overflow: hidden;
    margin-top: 10px;
    text-align: left;
	line-height: 40px;
}
.yuanbg img{
	width: 40px;
	height: 40px;

}

.yuanbg span{
	font-size: 18px;
	font-weight: bold;
	font-family: 微软雅黑;
	color: #f3d34c;
	padding-top: 20px;
}
.yuanbg b{
	font-size: 18px;
	font-weight: bold;
	font-family: 微软雅黑;
	color:#dbdadb;
	    margin-left: 25px;
}
.geanniu{
	margin-top: 68px;
	background: #f3d34c;
	font-size:18px;
	font-weight: bold;
	color: #fff;
	padding: 5px 20px;
	border-radius: 5px;
}
.yuanbg1{
	    border-top: 1px solid #fff;
	width: 170px;
    height: 40px;
	float: left;
    margin-top: 30px;
    text-align: left;
	line-height: 40px;
	border-right:1px solid #fff;
}
.yuanbg1 img{
	width: 85px;
	height: 35px;
}

.yuanbg1 span{
	font-size: 18px;
	font-weight: bold;
	font-family: 微软雅黑;
	color: #fff;
	padding-top: 20px;
}
.yuanbg1 b{
	font-size: 18px;
	font-weight: bold;
	font-family: 微软雅黑;
	color:#f3d34c;
}
.yuanbg2{
	    border-top: 1px solid #fff;
	width: 280px;
    height: 40px;
	float: left;
    margin-top: 30px;
    text-align: left;
	line-height: 40px;

}
.yuanbg2 img{
	width: 85px;
	height: 35px;
	margin-left: 60px;
}

.yuanbg2 span{
	font-size: 18px;
	font-weight: bold;
	font-family: 微软雅黑;
	color: #fff;
	padding-top: 20px;
}
.yuanbg2 b{
	font-size: 18px;
	font-weight: bold;
	font-family: 微软雅黑;
	color:#f3d34c;
	margin-left: 30px;
}
.right_right{
	width: 300px;
	height: 300px;
	background: #dbdadb;
	float: right;
	padding:60px 40px;
	text-align: center;
}
.right_right h1{
	font-size: 30px;
	font-weight: bold;
	font-family: 微软雅黑;
	color: #2c2d2d;

}
.right_right h2{
	font-size:18px;
	font-weight: bold;
	font-family: 微软雅黑;
	color: #2c2d2d;
	padding: 5px;
	background: #f3d34c;
	margin:25px 0;
}
.right_right span{
	color: #b90e0e;
}
.right_right h3{
	font-size: 14px;
	color:#2c2d2d;
}
.right_right b{
	color: #b90e0e;
}
.right_right img{
	width: 152px;
	height: 47px;
	margin-top: 30px;
}
.hybody_zhong{
	width: 1100px;
	margin: auto;
	    background: #222;
    height: 40px;
    clear: both;
    text-align: center;
   line-height: 40px;
}
.hybody_zhong li{
	float: left;
    width:12%;
    height: 40px;
    text-align: center;
    background: image-url('new/dh_xian.jpg') no-repeat right 15px;
    position: relative;

}
.hybody_zhong li:hover{
	background:#f3d34c;
	color: #000;
}
.hybody_zhong a{
	padding: 20px;
}
.hybody_zhong a:hover{


}
.hybody_zhong a{
	color: #fff;
}
.hybody_down{
	width: 1100px;
	margin: auto;
	background:#898889;
	padding: 50px;
	opacity: 0.9;
}
.select{
	float: left;
	margin-left: 16px;
}
.shortt{
	    padding-left: 30px;
}
.down_nei{
	padding:50px;
	background:#dbdadb;
	 overflow: hidden;
	text-align: center;
	border-bottom: 5px solid #a51919;
}

.down_nei li{
	width: 450px;
	height: 70px;
	float: left;
}
.down_nei ul{
	overflow: hidden;
}
.down_nei span{
	font-size: 15px;
	font-weight: bold;
}
.down_nei1{
	padding:50px;
	background:#dbdadb;
	 overflow: hidden;
	text-align: center;
	border-bottom: 5px solid #a51919;
}

.down_nei1 li{
	width: 100%;
	height: 70px;
	text-align: left;
}
.down_nei1 ul{
	overflow: hidden;
	margin-top: 50px;
}
.down_nei1 span{
	font-size: 20px;
	margin-right: 40px;
	letter-spacing: 2px;
}
.xiumi{
	border-bottom: 1px solid #000;
}
.lo{
	width: 340px;
	height: 40px;
	padding-left: 15px;
	font-size: 15px;
	font-weight: bold;
}
.lo1{
	width: 500px;
	height: 40px;
	padding-left: 15px;
	font-size: 15px;
	font-weight: bold;
}
.lo2{
	background: #fff;
	width: 500px;
	height: 40px;
	cursor: pointer;
	opacity:0

}
.scbg{
	background-image:image-url('new/noimages/scbg.jpg');
	width: 500px;
	height: 40px;
	    overflow: hidden;
}
.zhichi{
	margin-left: 180px;
	font-size: 14px;
	letter-spacing: 2px;
	color: #000;
	margin-top: 10px;
}
.so{
	width: 100px;
	height: 40px;
	font-size: 15px;
	font-weight: bold;
}
.so1{
	width: 100px;
	height: 40px;
	margin-left: 20px;
	font-size: 15px;
	font-weight: bold;
}
.so2{
	width: 500px;
    height: 40px;

    font-size: 15px;
    font-weight: bold;
}
.ggtj{
	    margin-top: 30px;
    float: right;
    margin-right: 20px;
    width: 90px;
    height: 30px;
    background: #b31313;
    color: #fff;
    border: 1px solid #941a1a;
}
.ggtj1{
	    margin-top: 30px;

    margin-right: 440px;
    width: 90px;
    height: 30px;
    background: #b31313;
    color: #fff;
    border: 1px solid #941a1a;
}
.login_after1{
	float: right;
	width: 418px;
	height: 60px;
	border-radius: 10px;
	border: 1px solid #666;
	overflow: hidden;
	padding-left: 8px;
}
.after_left{
	float: left;
}
.after_top p{
	color: #fff;
	font-weight: bold;
	text-align: left;
}
.after_top span{
	color:#f3d34c;
	font-weight: bold;
}
.after_down li{
	float: left;
	width: 85px;
	height: 25px;
	border: 1px solid #666;
	overflow: hidden;
	text-align: left;
}
.after_down a{
	line-height: 0px;
	padding: 0px!important;

}
.after_down img{
	width: 23px;
	height: 23px;
	float: left;
}
.after_down span{
	color: #fff;
	font-weight: bold;
	padding-left: 5px;
}
.after_right{
	float: right;
	padding: 5px;
}
.after_right img{
	width: 45px;
	height: 50px;
	border: 1px solid #fff;
}
.black_overlay{
            display: none;
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;

            background-color: black;
            z-index:1001;
            -moz-opacity: 0.8;
            opacity:.80;
            filter: alpha(opacity=88);
        }
        .white_content {
            display: none;
            position: absolute;
            top: 70%;
            left: 25%;
            width: 750px;
           	height: 700px;
            padding: 5px 10px;

            background-color: white;
            z-index:1002;
            overflow: auto;
        }

.erxian{
	width: 180px;
    position: absolute;
    background: image-url('new/nav_bg.png') repeat;
    left: -25px;
    top: 42px;
    display: none;
    z-index: 9999;

}
.erxian p{
	    border-bottom: 1px solid #888;
}
.erxian p:hover{
	background: #f3d34c;
}
.hybody_zhong li:hover .erxian{
	display: block;
}
.erxian a:hover{
	color: #fff;
}
.guanbi{
	position: absolute;
    right: 5px;
	font-size: 20px;
}
.qiandao{
	padding: 0px
}
.qiandaonei{width: 725px;height: 610px;}
	.zongrenshu{
		width: 725px;
		height: 92px;
		background-image:image-url('new/noimages/qiandao_03.gif');
	}
	.zongrenshu p{
		font-size: 16px;
		color: #333;
		padding: 50px 116px;
		font-weight: bold;
		letter-spacing: 2px;
	}
	.zongrenshu span{
		color: red;
		font-weight: bold;
	}
	.qdcs{
		border: 2px solid #000;
		margin-top: 15px;
		padding: 15px;
		overflow: hidden;
		width:725px;
	}
	.qdcs h1{
		font-size: 16px;
		font-weight: bold;
		color: #000;
		letter-spacing: 3px;

	}
	.qdcs p{
		font-size: 16px;
		font-weight: bold;
		color: #000;
		letter-spacing: 3px;
		float: left;
	}
	.qdcs h6{
		font-size: 16px;
		font-weight: bold;
		color: #000;
		letter-spacing: 3px;
		margin-left: 100px;
		    margin-right: 175px;
    float: right;

	}
	.qdcs a{
		overflow: hidden;
	}
	.qdcs img{
		margin-left: 38px;
    float: left;
    margin-top: 3px;	}
    .wode{
    	width:360px;
    	float: left;
    	text-align: center;
    }
    .wode h3{
    	color: red;
    	font-weight: bold;
    	font-size: 16px;
    	margin: 15px 0 10px 0;
    }
    .wodenei{
    	width: 100%;
    	height: 100px;
    	background: #ddd;

    }

    .mingdan{
    	width:358px;
    	float: right;
    	text-align: center;
    }
    .mingdannei{
    	width: 100%;
    	height: 100px;
    	background: #ddd;

    }
      .mingdan h3{
    	color: red;
    	font-weight: bold;
    	font-size: 16px;
    	margin: 15px 0 10px 0;
    }

.anquan_img hr{
	border: 1px solid #000;
}
.zhishu span{
	float:left;
	margin-left: 60px;
	font-size: 18px;
	color: #000;
}
.zhishu_tiao h2{
	color: #000;
	float: right;
	font-weight: bold;
	font-size: 16px;
	padding-bottom: 40px;
}
.zhishu_tiao hr{
	border: 1px solid #000;
	clear: both;
}
.anquan_down table{
	width: 100%;
}
.anquan_down td{
	width: 220px;
	font-size: 14px;
	color: #000;
	padding: 30px 0 30px 0;
	border-bottom: 2px solid #000;

}
.anquan_down span{
	font-size: 16px;
	letter-spacing: 2px;
}
.anquan_down b{
	color: red;
}
.llong{
	width: 340px!important;
	text-align: left;
}
.iimg{
	text-align: right;
}
.tixian_top{
	width: 100%;
	overflow:hidden;
}
.tixian_top table{
	width: 100%;
	overflow: hidden;
}

.tixian_top td{
	width: 32%;
	height: 60px;
	text-align: left;

}
.duan{
	width: 18%!important;
}
.tixian_top span{
		padding-left: 50px;
}
.tixian_top h1{
	padding-left: 20px;
	background: #aaa;
	width: 100%;
	height: 30px;
	padding-top: 5px;
	font-size: 16px;
	font-weight: bold;
	color: #000;
}
.tixian_top h2{
	float: right;
	color: red;
	margin: 30px 40px;
}
.tixian_top hr{
	clear: both;
	border: 1px solid #000;
}
.tixian_down{
	width: 100%;
	overflow: hidden;
}
.tixian_down table{
	width: 100%;
	overflow: hidden;
}
.tixian_down td{
	width: 35%;
	height: 40px;
	text-align: left;
}
.tixian_down tr{
	height: 55px;
}
.duanwen{
	width: 15%!important;
	margin-left: 40px;
}
.duanwen span{
	padding-left: 50px;
}

.tixian_down input{
	background: #aaa;
	width: 286px;
	height: 30px;
	color: #666;
	font-size: 16px;
	font-weight: bold;
	padding-left: 15px;
	letter-spacing: 2px;
}
.ddyu{
	width: 260px!important;
}
.tixian_down b{
	width: 40px;
	height: 40px;
	background: #aaa;
	font-size: 16px;
	font-weight: bold;
	color: #000;
	    padding: 1px 5px 7px;
}
.tixian_down select{
	background: #aaa;
	width: 286px;
	height: 30px;
	color: #000;
	font-size: 16px;
	font-weight: bold;
	padding-left: 15px;
	letter-spacing: 2px;

}
.tixian_down hr{
	border: 1px solid #000;
}
.txan{
	margin-top: 30px!important;
    float: right!important;
    margin-right: 62px!important;
    width: 90px!important;
    height: 30px!important;
    background: #b31313!important;
    color: #fff!important;
    border: 1px solid #941a1a!important;
    padding: 0px!important;
}
.chongzhi_top{
	width: 100%;
	text-align: left;

}
.chongzhi_top span{
	padding: 5px 15px;
	border: 1px solid #000;
	border-radius: 5px;
	font-size: 16px;
	color: #000;
	margin-left: 20px;
}
.chongzhi_top span:hover{
	background: yellow;
	border: 1px solid #f3d34c;

}
.chongzhi_top p{
	margin: 20px 20px;
	font-size: 14px;
	color: #000;
}
.chongzhi_top hr{
	clear: both;
	border: 1px solid #000;
}
.riqi b{
	    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
}
.riqi{
	margin-bottom: 50px;
}
.riqi input{
	height: 20px;
    color: #fff;
    background: #bbb;
    margin-left: 10px;
    font-weight: bold;
}
.riqi select{
	height: 20px;
    color: #fff;
    background: #bbb;
    margin-left: 10px;
    font-weight: bold;
    width: 80px;
}
.richa{
	width: 60px;
	height: 40px;
	background: #e1952c!important;
	font-size: 16px;
	font-weight: bold;
	border-radius: 20px;
	  line-height: 20px;
}
.xianshijieguo{
	width: 100%;
	overflow: hidden;
}
.xianshijieguo table{
	width: 100%;
	overflow: hidden;
}
.xianshijieguo tr{
	height: 40px;
}
.xianshijieguo hr{
	border: 1px solid #000;

}
.xsjg1{
	background: #f1f1f1;

}

.xsjg1 td{


}
.xsjg1 p{
	width: 100%;
	border-right: 1px solid #333;
	font-weight: bold;
	font-family: 微软雅黑;
}
.xsjg2{
	width: 100%;
	border-bottom: 1px solid #666;
}
.czjlll{
	margin-top: 50px;
	font-weight: bold;
	font-size: 16px;

	width: 100%;
	background: #f1f1f1;
	text-align: left;
}
.czjlll b{
	color: red;
}
.zhuanchu{
	width: 270px;
	overflow: hidden;
}
.zhuanchu p{
	float: left;
	font-size: 16px;
	font-weight: bold;
	font-family: 黑体;
	line-height: 36px;
}
.zhuanchu select{
	width: 200px;
	height: 40px;
	background: #bbb;
	font-size: 14px;
	font-weight: bold;
	padding-left: 10px;
	color: #666;
}
.zhuanchu h6{
	clear: both;
	float: right;
	margin-right: 30px;
	font-size: 14px;
	margin-top: 10px;
}
.zhuanchu  b{
	color: red;
}
.zhuanchu1{
	width: 270px;
	overflow: hidden;
	margin-top: 30px;
}
.zhuanchu1 p{
	float: left;
	font-size: 16px;
	font-weight: bold;
	font-family: 黑体;
	line-height: 36px;
}
.zhuanchu1 select{
	width: 200px;
	height: 40px;
	background: #bbb;
	font-size: 14px;
	font-weight: bold;
	padding-left: 10px;
	color: #666;
}
.zhuanchu1 h6{
	clear: both;
	float: right;
	margin-right: 30px;
	font-size: 14px;
	margin-top: 10px;
}
.zhuanchu1  b{
	color: red;
}
.zhuan{
	overflow: hidden;
	width: 350px;
}
.zhuanchu2{
	float: right;
}
.sjzzj{
	clear: both;
	text-align: left;
	width: 300px;
	margin-top: 40px;
}
.sjzzj h4{
	float: right;

    line-height: 40px;
    background: #bbb;
    width: 32px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
.sjzzj p{
	float: left;
    font-size: 16px;
    font-weight: bold;
    font-family: 黑体;
    line-height: 36px;
}
.sjzzj input{
	width: 200px;
	height: 40px;
	background: #bbb;
	font-size: 14px;
	font-weight: bold;
	padding-left: 10px;
	color: #666;
}
.jiaoyi1body{
	width: 1100px;
	overflow: hidden;
	background: #dbdadb;
	padding: 0 50px 50px 50px;
	margin: auto;
}
.sign1{
	color: #fff;
    width: 1100px;

    background: #dbdadb;
    overflow: hidden;
}
.cee{
	width: 320px;
    color: #000;
    display: block;
    float: left;
    margin-top: 38px;
    line-height: 20px;
}
.cee a{
	    color: #00a2ff;
    text-decoration: underline;
}
.bo1{
	margin-left: 24px!important;
}
.sign_box1 {color: #a9a9a9; width:688px;padding:30px 0; margin-left:43px; float:left;}
.sign_box1 .in01 {width:144px; height:36px; background:#fff; padding-left:14px; font-size:13px; line-height:30px; float:left; margin-right:2px;}
.sign_box1 .in02 {width:100px; height:36px; background:#fff; padding-left:14px; font-size:13px; line-height:30px; float:left; margin-right:30px;}
.sign_box1 .in02 {    margin-left: 50px;width:310px; height:36px; background:#fff image-url('new/sign-icon01.png') no-repeat left; background-position:15px center; font-size:13px; padding-left:13px; line-height:30px; float:left; margin-bottom:10px;}
.sign_box1 .in03 {width:290px; height:36px; background:#fff image-url('new/sign-icon02.png') no-repeat left; background-position:15px center; font-size:13px; padding-left:13px; line-height:30px; float:left; margin-bottom:10px; margin-right:30px;}
.sign_box1 .in04 {width:290px; height:36px; background:#fff image-url('new/sign-icon03.png') no-repeat left; background-position:15px center; font-size:13px; padding-left:13px; line-height:30px; float:left; margin-bottom:10px;}
.sign_box1 .in05 {    margin-left: 20px;color: #000;width:50px; height:36px; background:#fff; font-size:13px; text-align:center; line-height:30px; float:left; margin-bottom:10px;}
.sign_box1 .in06 {width:260px; height:36px; background:#fff; font-size:13px; line-height:30px; float:left; margin-bottom:10px; margin-right:30px;}
.sign_box1 .in07 {    margin-left: 20px;width:206px; height:36px; background:#fff; padding-left:12px; font-size:13px; line-height:30px; float:left; margin-bottom:10px; margin-right:4px;}
.sign_box1 .in08 {width:218px; height:36px; padding-left:12px; font-size:13px; line-height:30px; float:left; margin-bottom:10px; margin-left:22px;}
.sign_box1 .btn01 {width:100px; height:36px; text-align:center; font-size:13px; line-height:28px; color:#fff; background:#2785f0; float:left; border-radius:2px; transition: all .5s;}
.sign_box1 .btn01:hover{ background:#69c6e1;}
.sign_box1 .cho {height:30px; display:block; margin-bottom:10px; float:left; margin-left:15px; color:#fff; line-height:30px;}
.sign_box1 .ch {float:left; margin-top:10px; margin-right:8px;}
.sign_box1 span {display:block; line-height:30px; float:left; color:#fff; margin-left:15px; margin-right:10px;}
.sign_box1 span img {float:left; margin-top:9px; margin-right:10px;}
.sign1{
	margin: auto;
}
.sign1 h1{
	font-weight: bold;
	font-family: 微软雅黑;
	font-size: 40px;
	color: #000;
	margin:50px 0 0 50px;
}
.jiaoyi1body hr{
	border:1px solid #000;
	margin-bottom: 30px;
}
.jiaoyi1body_nei{
	width: 1000px;
}
.jiaoyi1_left{
	width: 660px;
	float: left;
}
.jiaoyi1_right{
	width: 320px;
	float: right;
}
.jiaoyi1_zhulan{
	background: #333;
	width: 100%;
	height: 45px;

}
.jiaoyi1_zhulan img{
	margin: 2px 4px;
	width: 20px;
	height: 20px;
	float: left;
}
.jiaoyi1_zhulan li{
	float: left;
    padding: 10px;
    border-right: 1px solid #aaa
}
.btn2{
	background: #333;
}
.btn1{
	background: #444;
}
.jiaoyi1_zhulan span{
	padding: 8px;
	color: #ddd;
	font-size: 16px;
	font-weight: bold;
	font-family: 微软雅黑;
}
.jiaoyi1_shanglan{
	background: #939393;
	width: 100%;

}
.jiaoyi1_shanglan img{
	width: 20px;
	height: 20px;
	float: left;
	    margin: 2px 8px;
}
.jiaoyi1_shanglan li{
	float: left;
    padding: 4px;
    border-right: 1px solid #222
}
.jiaoyi1_shanglan span{
	    padding: 8px 5px;
	color: #333;
	font-size: 14px;
	font-weight: bold;
	font-family: 微软雅黑;
}
.jiaoyi1_shanglan span:hover{
	color: #444;
}
.sousuoanniu{
	float: right;
	width: 25px;
	height: 25px;
}
.sousuoanniu img{
	width: 25px;
	height: 25px;
	margin-left: 0px!important;
	margin-top: 1px!important
}
.shipingtubiao{
	float: left;
	margin-right: 40px;

}

.sousuo{
	width: 100px;
	height: 25px;
	background: #b0afb0;
	    margin-left: 27px;
}
.qieh1{
	float: right!important;
}
.qieh{
	margin-left: 1px!important;
}
.zidongtubiao_timu{
	width: 100%;
	background: #292929;
	overflow: hidden;
}
.zidongtubiao_timu h1{
	color: #f3d34c;
	font-size: 18px;
	font-weight: bold;
	font-family: 黑体;
	padding:8px 0 8px 8px;
}
.zidongtbxl{
	color: #292929;
	margin: 3px 5px;
}
.zidongtubiao_lanmu{
	width: 100%;
	height: 36px;
	background: #939393;
	border-bottom: 3px solid #707070
}
.zidongtubiao_lanmu li{
	float: left;

}
.zidongtubiao_lanmu h2{
		color: #333;
	font-size: 14px;
	font-weight: bold;
	margin: 8px 20px;
}
.zidongtable table{
	width: 95%;

}
.zidongtable{
	height: 305px;
	overflow-y:scroll;
	width: 100%;
	pointer-events: none;
}
.zidongtable td{
	width: 27%;
	text-align: center;
	color: #505050;
	padding: 6px 0;

}
.zidongtable p{
	font-weight: bold;
}
.zidongtable tr{
	margin: 5px 0;
}
.up1{
	width: 9%!important;
}
.up1 img{
	width: 15px;
	height: 15px;
}
.down1{
	width: 9%!important;
}
.down1 img{
	width: 15px;
	height: 15px;
}
.zishenjiaoyi{
	margin-top: 30px;
	    width: 100%;
    background: #292929;
    overflow: hidden;
}
.zishenjiaoyi h1{
	color: #f3d34c;
    font-size: 18px;
    font-weight: bold;
    font-family: 黑体;
    padding: 8px 0 8px 8px;
    float: left;
}
.zishenjiaoyi h2{
	color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-family: 黑体;
    padding: 8px 8px 8px 0px;
    float: right;
}
.zishenbg{
	width: 100%;
	height: 195px;
	background:image-url('new/jiaoyi/jiaoyi1_95.gif');

}
.zishenbg input{
	margin-top: 60px;
	width: 160px;
	height: 46px;

}
.jiaoyishequ{
	margin-top: 30px;
	    width: 100%;
    background: #292929;
    overflow: hidden;
}
.jiaoyishequ h1{
	color: #f3d34c;
    font-size: 18px;
    font-weight: bold;
    font-family: 黑体;
    padding: 8px 0 8px 8px;
    float: left;
        width: 100%;
}
.shequtou{
	background: #939393;

}
.shequtable table{
	width: 100%;
}
.shequtable td{
	border: 1px solid #333;
	text-align: center;
}
.shequti{
	background: #b0afb0;

}
.ruheyunzuo{
	margin-top: 30px;
	    width: 100%;
    background: #292929;
    overflow: hidden;
}
.ruheyunzuo h1{
	color: #f3d34c;
    font-size: 18px;
    font-weight: bold;
    font-family: 黑体;
    padding: 8px 0 8px 8px;
    float: left;
        width: 100%;
}
.ruheyunzuo ul{
	    clear: both;
	background: #b0afb0;
	overflow: hidden;
}
.ruheyunzuo li{
	clear: both;
	padding: 10px 0;
	overflow: hidden;
	border-bottom: 1px solid #444;
}
.ruheyunzuo h3{
	float: left;
	font-weight: bold;
	font-size: 30px;
	padding: 5px;
	margin-right: 10px;
}
.ruheyunzuo p{

	text-align: left;
	font-size: 14px;
	color: #444;
	font-weight: bold;
	width: 85%;
}
.zishentou{
	height: 30px;
}
.zidongtb{
	position: absolute;
	margin:140px 50px;
}
.jiaoyihou{
	width: 1100px;
	margin: auto;
    background: #dbdadb;
    padding: 50px;
    overflow: hidden;
}
.jiaoyihou_dengji{
	width: 240px;
	height: 300px;
	background: #3a3a3a;
	float: left;
	text-align: center;
}
.jiaoyihou_dengji img{
	    width: 130px;
    height: 135px;
    border: 2px solid #fff;
    margin-top: 40px;

}
.jiaoyihou_dengji h2{
	    font-size: 18px;
    font-weight: bold;
    font-family: 微软雅黑;
    line-height: 36px;
    color: rgb(255, 255, 255);
}
.jiaoyihou_xinxi{
	width: 400px;
	height: 300px;
	margin-left: 10px;
	overflow: hidden;
	float: left;
}
.jiaoyihou_xinxi h1{
	color: #f3d34c;
	padding:5px 20px;
	font-weight: bold;
	font-size: 16px;
	background: #333;
	height: 30px;
}
.xinxi_nei{
	background: #939393;
	width: 100%;
	height:270px;
}
.xinxi_nei li{
	overflow: hidden;
	width: 100%;
	padding-left: 20px;
	padding-top: 10px;
}
.xinxi_nei span{
	font-weight: bold;
	font-size: 18px;
	letter-spacing: 1px;
	padding-left: 30px;
	color: #333;
}
.xinxi_nei ul{
	padding-top: 20px;
}
.jiaoyihou_zhuangkuang{
	width: 340px;
	height: 300px;
	float: right;
}
.jiaoyihou_zhuangkuang h1{
	color: #f3d34c;
	padding:5px 20px;
	font-weight: bold;
	font-size: 16px;
	background: #333;
	height: 30px;
}
.zhuangkuang_nei{
	background: #939393;
	width: 100%;
	height:270px;
}
.zhuangkuang_nei ul{
	padding-top: 30px;
}
.zhuangkuang_nei li{
	overflow: hidden;
	width: 100%;
	padding-left: 20px;


}
.zhuangkuang_nei span{
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 1px;

	color: #555;
}
.jilu{
	text-align: center;
	font-weight: bold;
	color: #666;
	font-size: 16px;
	margin-top: 40px;
}
.zishenbody{
	background: #dbdadb;
	width: 100%;

	overflow: hidden;


}
.gaodi{
	text-align: center;
	overflow: hidden;
	width: 360px;
	margin: auto;
}
.gaodi li{
	padding: 0px 20px;
	border:2px solid #000;
	background: #666;
	width: 150px;
	float: left;
	margin: 0px 5px;
	color: #ddd;
	height: 30px;

}
.gaodi a{
	color: #ddd;
}
.kaicang{
	text-align: center;
	overflow: hidden;
	width: 100%;
	margin: auto;
	margin-top: 40px;
}
.kaicang li{
	padding: 0px 20px;
	border:1px solid #000;
	background: #666;
	width: 150px;
	float: left;

	color: #ddd;
	height: 30px;

}
.jishi{
	float: right;
}
.kaicang1{
	width: 100%;
}
.kaicang a{
	color: #ddd;
}
.kaicang h1{
	line-height: 27px;
}
.kaicang1 table{
	width: 100%;
	background: #666;
	color: #fff;
	text-align: center;
	border: 1px solid #000;
}
.kaicang1 td{
	width: 9.3%;
	height: 40px;
}

.gaodi a:hover{
	color: #ddd;
}


.gaodi img{
	width: 20px;
	height:20px;
	margin: 4px 4px;
	padding-right: 2px;
}
.zishenti{
	overflow: hidden;
}
.zishenti_left{
	width: 77%;
	float: left;
}
.zishenti_right{
	width: 22%;
	float: right;
}
.zishentileft_top{
	width: 100%;
}
.zitop_left{
	width: 15%;
	float: left;
}
.zitop_right{
	width: 84%;
	float: right;
}
.liangleft{
	width: 75%;
	float: left;
}
.liangleft input{
	width: 100%;
	height:42px;
	border: 1px solid #000;
	border-radius: 3px;
}
.danright{
	width: 25%;
	float: right;
}
.danright input{
	width: 100%;
	height:84px;
	border: 1px solid #000;
	border-radius: 3px;
}
.shangyi{
	width: 5.5%;
	float: left;
	height: 84px;
	border: 1px solid #000;
	border-radius: 3px;
}
.xiayi{
	width: 5.5%;
	float: right;
	height: 84px;
	border: 1px solid #000;
	border-radius: 3px;
}
#ISL_Cont{
	width: 89%;
	overflow: hidden;
	float: left;
}
#ISL_Cont1{
	width: 90.8%;
	overflow: hidden;
	float: left;
}

.div2{
	float: left;
	width: 108px;
	height: 84px;
	border: 1px solid #000;
	border-radius: 3px;
	background: image-url('new/jiaoyi/zishen_12.png');
	color: #fff
}
.div2 p{
	color: #fff;
}
/*.div2:hover{
	background: url(../images/jiaoyi/zishen_16.png);
}*/
.zitop_right1{
	width: 100%;
}
.zishentileft_down{
	width: 100%;
	overflow: hidden;
	margin-top: 10px;
}
.div3{
	float: left;
	width: 105px;
	height: 84px;
	border: 1px solid #000;
	border-radius: 3px;
	background: image-url('new/jiaoyi/zishen_12.png');
}
.div3 p{
	color: #fff;
}
.div3 span{
	color: #fff;
}
.shangyi1{
	width: 4.6%;
	float: left;
	height: 84px;
	border: 1px solid #000;
	border-radius: 3px;
}
.xiayi1{
	width: 4.6%;
	float: right;
	height: 84px;
	border: 1px solid #000;
	border-radius: 3px;
}

.zishentileft_top{
	overflow: hidden;
	margin-top: 20px;
}
#shouc{
	width: 15px;
	height: 15px;
	float: right;
	margin: 5px 5px 0 0 ;

}
.guoq1{
	clear: both;
	width: 40%;
	height: 25px;
	border:1px solid #ddd;
	margin: 0 2px;
	float: left;
	margin-top: 8px;
	margin-left: 8px;
}
.guoq2{

	width: 40%;
	height: 25px;
	border:1px solid #ddd;
	margin: 0 2px;
	float: left;
	margin-top: 8px;
}
.ScrCont{
	width: 10000px;
}
.diyipi p{
	clear: both;
	text-align: center;
	width: 100%;
	padding-top: 2px;
}
.dierpi span{
	float: right;
	margin: 5px 5px 0 0;
}
.dierpi{
	overflow: hidden;
}
.diyipi{
	overflow: hidden;
}
.shi{
	clear: both;
	text-align: center;
	margin-top: 8px;
}
.jian{
	text-align: center;
	margin-top: 0px;
	background: image-url('new/jiaoyi/zishen_39.png');
	color: #fff;
	background-size: 60px;
	width: 60px;
	margin:auto;
	line-height: 16px;
}
.kxianti{
	height: 580px;
	background: #333;
	width: 100%;
	margin-top: 10px;
}
.kxianti_top{
	height: 504px;
}
.kxianti_down{
	height: 76px;
	border-top: 2px solid #000;
}
.kxiantitop_anniu{
	position: absolute;
	height: 40px;
	width: 220px;
	margin: -493px 0 0 10px;
}
.kxiantitop_anniu input{
	width: 32px;
	height: 30px;
	float: left;
	margin: 0 1px;
}
.hou1{
	float: left;
	border-right: 2px solid #000;
	width: 130px;
	height: 74px;
	background: image-url('new/jiaoyi/zishen_88.png');
}
.hou2{
	float: left;
	border-right: 2px solid #000;
	width: 130px;
	height: 74px;
	background: image-url('new/jiaoyi/zishen_90.png');
}
.hou3{
	float: left;
	border-right: 2px solid #000;
	width: 130px;
	height: 74px;
	background: image-url('new/jiaoyi/zishen_92.png');
}
.hou4{
	float: left;
	border-right: 2px solid #000;
	width: 130px;
	height: 74px;
	background: image-url('new/jiaoyi/zishen_94.png');
}
.hou1:active{
	background: image-url('new/jiaoyi/zishen_91.png');
}
.hou2:active{
	background: image-url('new/jiaoyi/zishen_93.png');
}
.hou3:active{
	background: image-url('new/jiaoyi/zishen_95.png');
}
.hou4:active{
	background: image-url('new/jiaoyi/zishen_97.png');
}

.xian{
	    width: 520px;

    background: #333;
    position: absolute;

    display: none;
    padding: 10px;
}
.xian h1{
	font-weight: bold;
	color: #fff;
}
.kxiantitop_center{
	   width: 220px;
    height: 30px;
    margin: -493px 43%;
    background: image-url('new/jiaoyi/zishen_47.png');
    background-size: 220px 30px;
    position: relative;
}
.kxiantitop_center p{
	color: #fff;
	text-align: center;
	line-height: 28px;
	letter-spacing: 1px;
}
.kk{
	width: 100%;
	height: 504px;
}
.zishendenglu{
	    padding-top: 26px;
	text-align: center;
	width: 100%;
	overflow: hidden;
	margin-top: 20px;
	height: 100px;
	background:#333;
}
.zishendenglu img{
	width: 100%
}
.zishendenglu button{
	width: 40%
}
.zishentiright_top{
	width: 100%;
	overflow: hidden;
	margin-top: 20px;
	height: 300px;
	background:#939393;
}
.zishentiright_top h1{
	width: 100%;
	height: 30px;
	color: #f3d34c;
	font-size: 1.3em;
	font-weight: bold;
	padding: 5px 10px;
	background:#333;
	margin-bottom: 30px;
}
.zishentiright_top span{
	margin-left: 20px;
	font-size: 1.1em;
	font-weight: bold;
	color: #444;

}
.zishentiright_top li{
	height: 30px;
	overflow: hidden;
}
.zishentiright_top img{
	width:40%;

}
.lijianniu{
	margin-top: 30px;
	text-align: center;
	height: 60px!important;
}
.zishentiright_down{
	padding: 5%;
	margin-top: 10px;
	width: 100%;
	background: #343434;

}
#gaoyu1{
	margin-left: 3.5%
}
#diyu1{
	margin-left: 3.5%
}
.ggaoy{
	width: 100%;
	height: 90px;
	margin:auto;
	background: image-url('new/jiaoyi/zishen_74.png') no-repeat;
	background-size: 100% 90px;
}
.ggaoy input{
	    background: none;
    width: 100%;
    height: 80px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
        padding-left: 10%;
}
.ggaoy span{
	    position: relative;
    float: right;
    margin-top: -50px;
    font-size: 16px;
    right: 15px;
    font-weight: bold;
}

.rightdown_top{
	overflow: hidden;
}
.top_span{
	position: relative;
    padding: 2px 35px;
    background: #f1f1f1;
    color: #333;
    font-size: 14px;
    border-radius: 4px;
    margin-left: 38%;
    margin-top: -118px;
    float: left;
}
.ddiy{
	width:100%;
	height: 90px;
	margin: 10px auto;
	background: image-url('new/jiaoyi/zishen_78.png') no-repeat;
	background-size: 100% 90px;
}
.ddiy input{
	background: none;
    width: 100%;
    height: 80px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
        padding-left: 10%;
}
.ddiy span{
	   position: relative;
    float: right;
    margin-top: -50px;
    font-size: 16px;
    right: 15px;
    font-weight: bold;
}
.rightdown_down{
	padding-top:15px;
}
.rightdown_down p{
	    color: #ddd;
    font-weight: bold;
    float: left;
    margin-left: 10%;
}
.r_left{
	    float: left;
    width: 26%;
    text-align: right;

    position: relative;
}
.r_right{
	float: right;
	    width: 62%;
	text-align: left;
}
.jiaqina{
	width: 90%;
	height: 36px;
	background: #f1f1f1;
	color: #999;
	font-weight: bold;
	padding-left: 5px;
	font-size:16px;
}
.fuhao{
	    float: left;
	border-radius: 4px;
	    color: #fff;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid #000;
   padding: 5px 0 4px;
}
.butongjia{
	    clear: both;
    width: 100%;
    margin: auto;
    overflow: hidden;
    margin-bottom: 5px;
    margin-top: 10px;
    position: relative;
    float: left;
    text-align: center;

}
.bu10{
	background: image-url('new/jiaoyi/zishen_84.png') no-repeat;
	width: 20%;
	height: 30px;
	background-size:100% 30px;
	margin: 2.4%;
	float: left;
}
.bu10 input{
	background: none;
	padding-left:25%;
	color: #fff;
}
.dijiaoyi{
	clear: both;


	border-radius: 8px;
	background: #146a2d;
	height: 100px;
	margin:auto;
}
.dijiaoyi input{
	float: left;
	font-size: 40px;
	font-weight: bold;
	width: 50%;
	margin-left: 5%;
	background: none;
	color: #fff;
	height: 100%;
	text-align: left;
}
.dijiaoyi span{
	padding: 5px 25px;
    background: #023d13;
    border-radius: 10px;
    margin-top: 20px;
    position: relative;
    float: right;
    right: 5%;
}
.dijiaoyi p{
	    position: relative;
    float: right;
    margin-right: 11.5%;
    width: 57px;
}
#kac{
	overflow: hidden;
}

#shoujixiala{
	overflow: hidden;
	padding: 3px 20px;
	display: none;
}
#shoujixiala1{
     background: image-url('new/jiaoyi/pingtai_10.jpg') right center no-repeat;
   /* the width and the height of your image */
    width: 147px;
    height: 30px;
    overflow: hidden;
    border: solid 0px #ccc;
    float: left;

    background-size:147px 30px;
    color: #f1f1f1;
}
#shoujixiala2{
    background: image-url('new/jiaoyi/pingtai_10.jpg') right center no-repeat;
   /* the width and the height of your image */
    width: 147px;
    height: 30px;
    overflow: hidden;
    border: solid 0px #ccc;
    float: left;
    margin-left: 20px;
    background-size:147px 30px;
    color: #f1f1f1;
}

#shoujixiala1 select{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background:transparent;
    border:none;

    width: 147px;
    height:100%;
    padding-left: 20px;
}
#shoujixiala1 option{
	background: #333;

}
#shoujixiala2 option{
	background: #333;

}
#shoujixiala2 select{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background:transparent;
    border:none;

    width: 147px;
    height:100%;

    padding-left: 20px;
}
#iphone{
  width: 360px;
  height: 60px;
  background: #ddd;
  display: none;

}
#iphone h1{
	font-size:28px;
	font-weight: bold;
	padding:14px 20px;

}
#iphone_h{
	height: 60px;
	width: 360px;
	background: #444;
	display: none;
	padding-top: 17px;
}
#iphone_h p{
	color: #fff;
	float: left;
	font-weight: bold;
	font-size: 28px;
	margin-left: 5%
}
#iphone_h  img{
	width: 30px;
	height: 30px;
	float: right;
	margin-right: 5%
}
.leibie{

	margin-left: 90px!important;
}
#footer{
	display: none;
	width: 360px;
	overflow: hidden;
	background: #000;

	text-align: center;

}
#footer_top{

	background: #ddd;
	padding: 20px 0 20px 0;
	overflow: hidden;

}
#footer_top {
	span, p{
		color: #333;
		font-weight: bold;
		font-size: 14px;
	}
}
#footer_down li{
	float: left;
	color: #fff;
	font-weight: bold;
	font-family: 微软雅黑;
	font-size: 16px;
	margin-left:40px;
	padding: 10px 0;
}

@media (max-width: 480px) {
	body{width: 100%;}
	#kxiantitop_anniu{display: none;}
	#zishenbody{width: 480px;background: #333;}
	#kxiantitop_center{display: none;}
	#gaodi{display: none;}
	#header{display: none}
	#foot{display: none}
	#zishentileft_top{display: none}
	#zishentileft_down{display: none}
	#kac{display: none}
	#zishentiright_top{display: none;}
	#kxianti_down{display: none;}
	#zishenti_right{clear: both;float: left;width: 77%}
	#ggaoy{width: 48%;float: left;}
	#ddiy{width: 48%;float: right;margin-top: 0px;}
	#top_span{margin-left: 35.5%;margin-top: -87px;}
	#shouyi7{    right: 2%;top: 15%;}
	#shouyi8{    left: 2%;top: 15%;float: left;}
	#gaoyu{padding-left: 5%;font-size: 30px;}
	#diyu{padding-right: 5%;font-size: 30px;    text-align: right;}
	#gaoyu1{padding-left: 5%;font-size: 30px;}
	#diyu1{padding-right: 10%;font-size: 30px;    text-align: right;}
	#r_left{display: none;}
	#r_right{width: 27%;float: left;}
	#kk{height: 400px}
	#kxianti{height: 435px;padding: 20px;}
	#kxianti_top{height: 400px;}
	#jiaqina{width: 83%}
	#butongjia{clear: none;margin-top:0px;width: 73% }
	#shoujixiala{display: block;margin-top: 130px;}
	#iphone_h{display: block;}
	#footer{display: block;}
	#iphone{display: block;}

}
