.one_huobi{
	 .one_zhang{
		width: 100%;
		background: #b0afb0;
		overflow: hidden;
	}
	.one_zhang1{
		width: 100%;
		background: #b0afb0;
		overflow: hidden;
		border-radius: 10px;
	}
	.btn1{
	  border:none;
	  height:25px;
	  background-color:#3a3a3a;
	  color:white;
	  font-size:14px;
	  margin:8px 0;
	  width:65px;

	   float: left;
	}
	.btn2{
	  border:none;
	  height:25px;
	  background-color:#f3d34c;
	  color:#333;
	  font-size:14px;
	  margin:8px 0;
	  width:65px;

	   float: left;

	}
	.btn3{
	  border:none;
	  height:25px;
	  background-color:#3a3a3a;
	  color:white;
	  font-size:14px;
	  margin:8px 0;
	  border-left: 1px solid #fff;
	width: 54px;
	   float: left;
	}
	.btn4{
	  border:none;
	  height:25px;
	  background-color:#f3d34c;
	  color:#333;
	  font-size:14px;
	  margin:8px 0;
	 border-right: 1px solid #fff;

	   float: left;

	}
	.btn5{
	  border:none;
	  height:25px;
	  background-color:#f3d34c;
	  color:#333;
	  font-size:14px;
	  margin:8px 0;


	   float: left;

	}
	.one_z1{
		margin-left: 50px;
		overflow: hidden;
		float: left;
	}
	.one_z11{
		margin-right: 13px;
	overflow: hidden;
	float: right;
	}
	.one_z2{
		margin-right:15px;
		float: right;
	}
	.one_z5{
		margin-left:10px;
		clear: both;

	}
	.one_z3{
		margin-right: 50px;
		float: right;
	}
	.one_Kxian{
		width: 100%;
		height: 262px;
	}
	.one_Kxian img{
		width: 100%;
		height: 262px;
	}
	.one_Kxian1{
		width: 100%;

		background: #3a3a3a;
	}
	.one_Kxian1 img{
		width: 100%;
		height: 190px;
	}
	.one_huobi{
		margin-top: 30px;
		width: 100%;
		    overflow: hidden;
	}

	.huobi_left{
		width: 310px;
		height: 195px;
		float: left;

	}
	.huobi{
		width: 310px;
		height: 34px;
		background-size: 310px 34px;
		background-image: image-url('new/jiaoyi/jiaoyi1_98.png');
		overflow: hidden;
		color: #fff;
		margin-top: 5px;
	}
	.huobi img{
		float: left;
	    width: 24px;
	    height: 24px;
	    margin-left: 10px;
	    margin-top: 5px;
	}
	.huobi span{
		font-weight: bold;
		line-height: 34px;
		margin-left: 5px;
	}
	.huobi b{
		float: right;
		line-height:34px;
		margin-right: 30px;
	}
	.huobi_right{
		width: 310px;
		height: 195px;
		overflow: hidden;
		float: right;
		background-image:image-url('new/jiaoyi/jiaoyi1_104.gif');
		background-size: 310px 195px;

	}
	.huobiright_top{
		height: 34px;
		overflow: hidden;
	}
	.huobiright_top img{
		width: 30px;
		height: 30px;
		float: left;
		margin-left: 10px;
	}
	.huobiright_top span{
		margin-left: 5px;
		font-weight: bold;
		color: #fff;
		line-height: 34px;
	}
	.huobiright_top b{
		margin-right:30px;
		color: #333;
		margin-top: 8px;
		float: right;
		background: #ddd;
		padding: 0px 10px;
		border-radius: 8px;

	}
	.huobiright_ti{
		width: 100%;
		overflow:hidden;
	}
	.huobiright_ti1{
		width: 100%;
		overflow:hidden;
	}
	.huobiti_left{
		float: left;
		width: 50%;

	}
	.huobiti_left1{
		float: left;
		width: 50%;

	}
	.szxd1{
		margin: 25px 30px;

	}
	.szxd2{
		margin: 0px 30px;

	}
	.szxd5{
		margin: 25px 30px 0px;

	}
	.szxd6{
		margin: 0px 30px;

	}
	.szxd3{
		margin: 15px 27px;
		float: left;

	}
	.szxd4{
		margin: 15px 0px;

	}
	.huobiti_right h1{

	    color: #dbdadb;
	    font-size: 46px;
	    margin-top: 20px;
	    margin-bottom: 5px;
	    font-family: 微软雅黑;
	    font-weight: bold;

	}
	.huobiti_right1 h1{
	   color: #dbdadb;
	    font-size: 46px;
	    margin-top: 10px;
	    margin-bottom: 15px;
	    font-family: 微软雅黑;
	    font-weight: bold;
	    margin-left: 10px;

	}
	.sshuou{
		width: 50%;
		float: right;
		padding-top: 10px;
	}
	.sshuou a{
		text-decoration: none;
	}
	.sshuou span{
		padding: 2px 5px;
		background:#aaa;
		color: #333;
		text-align: center;
		margin-left: 5px;
		border-radius: 5px;
		margin-top: 8px;
	}
	.sshuou1{
		    width: 42%;
	    float: right;
	    padding-top: 10px;
	    padding-bottom: 10px;
	}
	.sshuou1 a{
		text-decoration: none;
	}
	.sshuou1 span{
		padding: 2px 5px;
		background:#aaa;
		color: #333;
		text-align: center;
		margin-left: 5px;
		border-radius: 5px;
		margin-top: 8px;
	}
	.huobiti_right{
		width: 45%;
		float: right;
		overflow: hidden;
		text-align: center;
	}
	.huobiti_right1{
		width: 48%;
		float: right;
		overflow: hidden;
		text-align: center;
	}
	.chushou{
		float: left;
		text-align: right;

	}
	.chushou img{
		width: 10px;
		height: 10px;
		margin-right: 2px;
	}
	.shouyi1{
		margin:0px;
	}
	.chushou1{
		float: left;
		text-align: right;

	}
	.chushou1 img{
		width: 10px;
		height: 10px;
		margin-right: 2px;
	}
	.duichong img{
		width: 10px;
		height: 10px;
		margin-right: 2px;
	}
	.duichong{
		float: right;
		text-align: left;
	}
	.jiabei{
		clear: both;

	}
	.duichong1 img{
		width: 10px;
		height: 10px;
		margin-right: 2px;
	}
	.duichong1{
		float: right;
		text-align: left;
	}
	.jiabei1{
		clear: both;

	}
	.huobiti_right{
		text-align: center;
		 margin-right: 7px;

	}
	.huobiti_right p{
		    line-height: 14px;
	    margin: 0px;
	    color: #f3d34c;
	    font-weight: bold;
	    height: 22px;
	    overflow: hidden;
	}
	.huobiti_right1 p{
		    line-height: 14px;
	    margin: 0px;
	    color: #f3d34c;
	    font-weight: bold;
	    height: 22px;
	    overflow: hidden;
	}
}

.jiaoyi1biao{
	margin-top: 30px;
	width: 100%;
	overflow: hidden;
	background: #3a3a3a;
	padding-bottom: 16px;

	table{
		width: 100%;
	}
	tr{
		height: 28px;
		width: 100%;
		text-align: left;
		overflow: hidden;
	}
	td{
		overflow: hidden;
	}

	h2{
		padding: 0px;
		margin: 0px;
		padding-left: 3px;
	}

	.bbiao1{
		color: #f3d34c;
		font-size: 10px;
		background: #3a3a3a;
	}
	.a18{
		width: 18%;
	}
	.a14{
		width: 14%;
	}
	.a32{
		width: 32%;
	}
	.a18{
		width: 18%;
	}
	.bbiao2{
		background: #b0afb0;
	}
	.bbiao3{
		background: #3a3a3a;
		border-bottom: 2px solid #b0afb0;
		color: #cbcacb;
		font-weight: bold;

	}
	.bbiao3 p{
		padding-left: 5px;
	}
	.baifenbi{
		width: 200px;
		height: 20px;
	}
	.baifenbi1{
		text-align: center;
	    background: #80a23d;
	    height: 20px;
	    width: 30%;
	    line-height: 20px;
	    float: left;
	    color: #fff;
	    font-size:12px;

	}
	.baifenbi2{
		text-align: center;
	    height: 20px;
	    width: 70%;
	    line-height: 20px;
		background: #e89519;
		float: right;
		color: #fff;
		font-size:12px;
	}
	#chi{
		width: 12px;
		height: 12px;
		border-radius: 10px;
		background: #027597;
		float: left;
		margin-left: 2px;
	}

	#cheng{
		width: 12px;
		height: 12px;
		border-radius: 10px;
		background: #02976f;
		float: left;
		margin-left: 2px;
	}
	#huang{
		width: 12px;
		height: 12px;
		border-radius: 10px;
		background: #ecc100;
		float: left;
		margin-left: 2px;
	}
	#lv{
		width: 12px;
		height: 12px;
		border-radius: 10px;
		background: #ffa400;
		float: left;
		margin-left: 2px;
	}
	#qing{
		width: 12px;
		height: 12px;
		border-radius: 10px;
		background: #ff7000;
		float: left;
		margin-left: 2px;
	}
	#lan{
		width: 12px;
		height: 12px;
		border-radius: 10px;
		background: #ff3e00;
		float: left;
		margin-left: 2px;
	}
	.bodong{
		width:100%;
		height: 20px;
		overflow: hidden;
	}
	.xiangqingan{
		position: absolute;
		    margin-top: -260px;
	}
	.zidongtbxl{
		    width: 30px;
	    height: 30px;
	    background: #b0afb0;
	    border-radius: 15px;
	}
	.one_zz{
		float: left;
		width: 140px;
		overflow: hidden;
		padding-top: 7px;

	}
	.one_zz img{
		float: left;
		margin-left: 20px;
		width: 24px;
		height: 24px;
	}

	.one_zz span{
		line-height: 24px;
		color: #555;
		font-weight: bold;
		margin-left: 5px;
	}
	.one_zz1{
		float: left;
		width: 140px;
		overflow: hidden;
		padding-top: 7px;

	}
	.one_zz1 img{
		float: left;
		margin-left: 6px;
		width: 24px;
		height: 24px;
	}

	.one_zz1 span{
		line-height: 24px;
		color: #555;
		font-weight: bold;
		margin-left: 5px;
	}
	.onee{
		overflow: hidden;
	        background: #3a3a3a;
	    border-radius: 10px;
	        margin-top: 10px;
	}
	.oonee{
		overflow: hidden;
	        background: #3a3a3a;
	    border-radius: 10px;
	        margin-top: 10px;
	        width: 318px;
	        float: left;
	}
	.oonee1{
		overflow: hidden;
	        background: #3a3a3a;
	    border-radius: 10px;
	        margin-top: 10px;
	        width: 318px;
	        float: right
	}
	.guoqi_left{
		float: left;
		margin-left: 20px;
		height: 22px;
	}
	.guoqi_left img{
		width: 30px;
		height: 18px;
		margin-left: 5px;
		margin-top: 3px;
	}
	.guoqi_left span{
		margin-left: 5px;
		color: #555;
		font-weight: bold;
		font-size: 11px;
	}
	.guoqi_left1{
		float: left;
		margin-left: 10px;
		height: 22px;
	}
	.guoqi_left1 img{
		width: 30px;
		height: 18px;

		margin-top: 3px;
	}
	.guoqi_left1 span{
		margin-left: 5px;
		color: #dbdadb;
		font-weight: bold;
		font-size: 11px;
	}
	.guoqi_right{
		float: right;
		height: 22px;
	}
	.guoqi_right1{
		width: 100%;
		float: left;
		clear: both;
		margin-top: 10px;
		height: 22px;
		margin-left: 10px;
	}
	.guoqi{
		overflow: hidden;
		width: 100%;
		padding-bottom: 10px;
	}
	.shijiamokuan{
		    height: 20px;
	    overflow: hidden;
		float: right;
		margin-right: 24px;
		    padding-top: 5px;
	}
	.shijiamokuan img{
		width: 180px;
		height: 20px;
	}
	.guoqi_right b{
		font-size: 11px;
		color: #555;
		 line-height:30px;
	}
	.guoqi_right1 b{
		font-size: 11px;
		color: #dbdadb;
		 line-height:30px;
	}
	.huobiti_left2 {
	    float: left;
	    width: 50%;
	}
	.huobiti_left2 h4{
		       margin: 10px 44px;
	    background: #dbdadb;
	    border-radius: 7px;
	    /* margin: auto; */
	    width: 100px;
	    /* margin-top: 20px; */
	    text-align: center;
	}
	.huobiti_left1 h4{

	    background: #dbdadb;
	    border-radius: 7px;
	    margin: auto;
	    width: 100px;
	    margin-top: 20px;
	    text-align: center;
	}
	.ssshou{
		    float: left;
	    width: 50%;
	    color: #dabf49;
	    font-weight: bold;
	    margin-top: 36px;
	}
}
