.one_huobi{
		margin-top: 30px;
		overflow: hidden;

	.one_zhang{
		width: 100%;
		background: #b0afb0;
		overflow: hidden;
	}

	.btn5{
	  border:none;
	  height:25px;
	  background-color:#f3d34c;
	  color:#333;
	  font-size:14px;
	  margin:8px 0;


	   float: left;

	}
	.one_z1{
		margin-left: 50px;
		overflow: hidden;
		float: left;
	}

	.one_z2{
		margin-right:15px;
		float: right;
	}
	.one_z5{
		margin-left:10px;
		clear: both;

	}
	.one_z3{
		margin-right: 50px;
		float: right;
	}
	.one_Kxian{
		width: 100%;
		height: 262px;
	}
	.one_Kxian img{
		width: 100%;
		height: 262px;
	}
	.one_Kxian1{
		width: 100%;

		background: #3a3a3a;
	}
	.one_Kxian1 img{
		width: 100%;
		height: 190px;
	}


	.huobi_left{
		width: 310px;
		height: 195px;
		float: left;

	}
	.huobi{
		width: 310px;
		height: 34px;
		background-size: 310px 34px;
		background-image: image-url('new/jiaoyi/jiaoyi1_98.png');
		overflow: hidden;
		color: #fff;
		margin-top: 5px;
	}
	.huobi img{
		float: left;
	    width: 24px;
	    height: 24px;
	    margin-left: 10px;
	    margin-top: 5px;
	}
	.huobi span{
		color: #fff;
		font-weight: bold;
		line-height: 34px;
		margin-left: 5px;
	}
	.huobi b{
		float: right;
		line-height:34px;
		margin-right: 30px;
	}
	.huobi_right{
		width: 310px;
		height: 195px;
		overflow: hidden;
		float: right;
		background-image:image-url('new/jiaoyi/jiaoyi1_104.gif');
		background-size: 310px 195px;

	}
	.huobiright_top{
		height: 34px;
		overflow: hidden;
	}
	.huobiright_top img{
		width: 30px;
		height: 30px;
		float: left;
		margin-left: 10px;
	}
	.huobiright_top span{
		margin-left: 5px;
		font-weight: bold;
		color: #fff;
		line-height: 34px;
	}
	.huobiright_top b{
		margin-right:30px;
		color: #333;
		margin-top: 8px;
		float: right;
		background: #ddd;
		padding: 0px 10px;
		border-radius: 8px;

	}
	.huobiright_ti{
		width: 100%;
		overflow:hidden;
	}

	.huobiti_left{
		float: left;
		width: 50%;
    a{
			display: inline-block;
		}
	}

	.szxd1{
		margin: 25px 30px;

	}
	.szxd2{
		margin: 0px 30px;

	}

	.sshuou1{
		    width: 42%;
	    float: right;
	    padding-top: 10px;
	    padding-bottom: 10px;
	}
	.sshuou1 a{
		text-decoration: none;
	}
	.sshuou1 span{
		padding: 2px 5px;
		background:#aaa;
		color: #333;
		text-align: center;
		margin-left: 5px;
		border-radius: 5px;
		margin-top: 8px;
	}


	.huobiti_right{
		text-align: center;
		margin-right: 7px;

	}

}

.jiaoyi1biao{
	margin-top: 30px;
	width: 100%;
	overflow: hidden;
	background: #3a3a3a;
	padding-bottom: 16px;

	table{
		width: 100%;
	}
	tr{
		height: 28px;
		width: 100%;
		text-align: left;
		overflow: hidden;
	}
	td{
		overflow: hidden;
	}

	h2{
		padding: 0px;
		margin: 0px;
		padding-left: 3px;
	}

	.bbiao1{
		color: #f3d34c;
		font-size: 10px;
		background: #3a3a3a;
	}
	.a18{
		width: 18%;
	}
	.a14{
		width: 14%;
	}
	.a32{
		width: 32%;
	}
	.a18{
		width: 18%;
	}
	.bbiao2{
		background: #b0afb0;
	}
	.bbiao3{
		background: #3a3a3a;
		border-bottom: 2px solid #b0afb0;
		color: #cbcacb;
		font-weight: bold;

	}
	.bbiao3 p{
		padding-left: 5px;
	}
	.baifenbi{
		width: 200px;
		height: 20px;
	}
	.baifenbi1{
		text-align: center;
	    background: #80a23d;
	    height: 20px;
	    width: 30%;
	    line-height: 20px;
	    float: left;
	    color: #fff;
	    font-size:12px;

	}
	.baifenbi2{
		text-align: center;
	    height: 20px;
	    width: 70%;
	    line-height: 20px;
		background: #e89519;
		float: right;
		color: #fff;
		font-size:12px;
	}
	#chi{
		width: 12px;
		height: 12px;
		border-radius: 10px;
		background: #027597;
		float: left;
		margin-left: 2px;
	}

	#cheng{
		width: 12px;
		height: 12px;
		border-radius: 10px;
		background: #02976f;
		float: left;
		margin-left: 2px;
	}
	#huang{
		width: 12px;
		height: 12px;
		border-radius: 10px;
		background: #ecc100;
		float: left;
		margin-left: 2px;
	}
	#lv{
		width: 12px;
		height: 12px;
		border-radius: 10px;
		background: #ffa400;
		float: left;
		margin-left: 2px;
	}
	#qing{
		width: 12px;
		height: 12px;
		border-radius: 10px;
		background: #ff7000;
		float: left;
		margin-left: 2px;
	}
	#lan{
		width: 12px;
		height: 12px;
		border-radius: 10px;
		background: #ff3e00;
		float: left;
		margin-left: 2px;
	}
	.bodong{
		width:100%;
		height: 20px;
		overflow: hidden;
	}
	.xiangqingan{
		position: absolute;
		    margin-top: -260px;
	}
	.zidongtbxl{
		    width: 30px;
	    height: 30px;
	    background: #b0afb0;
	    border-radius: 15px;
	}


	.oonee1{
		overflow: hidden;
	        background: #3a3a3a;
	    border-radius: 10px;
	        margin-top: 10px;
	        width: 318px;
	        float: right
	}

	.guoqi_right b{
		font-size: 11px;
		color: #555;
		 line-height:30px;
	}
	.guoqi_right1 b{
		font-size: 11px;
		color: #dbdadb;
		 line-height:30px;
	}


}
.onee{
	overflow: hidden;
	background: #3a3a3a;
	border-radius: 10px;
	margin-top: 10px;
}
