.frame {width:275px; height:399px;  background:#fff; float:left; display:inline;}
.wrap {width:275px; height:399px; position:relative; overflow:hidden; font-family:arial, sans-serif;}
.wrap img {display:block;width: 275px;    height: 399px;}
.wrap div {width:100%; height:320px; padding:300px 10px 10px 10px; position:absolute; left:0; top:0; background:url(trans.gif);}
.wrap div b {display:block; width:275px; height:399px; position:absolute; left:0; top:300px; z-index:1; background:#444; filter: alpha(opacity=40);
 filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40); opacity:0.40;}
.wrap div span {position:relative; z-index:500;}
.wrap div h1{font-weight:bolder;font-size:26px; color:#f3d34c; text-align:center; margin-top:30px; padding:0;}
.wrap div p {font-size:14px; color:#fff; line-height:20px;width: 230px;text-align: center;margin-top: 220px;line-height: 20px;margin-left: 10px;}
.wrap div a {color:#fc0; font-size:12px; position:absolute; left:0; top:300px; text-decoration:none; display:block; margin:0; text-align:right; width:200px;}
.wrap div a:hover {color:#ff0;}

.clear {clear:both;}
