*{margin:0;padding:0;}
	ul,li{list-style:none;}
	body{background: #fff; }
	.checkin{margin-top:10px;}
	.clear {clear:both; height:0; overflow:hidden; display:block; line-height:0}
	.clearfix:after {clear:both;font-size:0; height:0; display:block; visibility:hidden; content:" "; line-height:0}
	.clearfix {zoom:1}/* for IE6 IE7 */
	.title{height: 36px;line-height: 36px;font-size: 16px;margin-bottom: 10px;}
	.title p{float: left;width: 80%;height: 36px;line-height: 36px;font-size: 16px;}
	.title a{display: inline-block;width: 20%;height: 36px;line-height: 36px;text-align: center;background: #e84444;border-radius: 2px;color: #fff;text-decoration: none;font-size: 16px;}
	.checkin li{background: #ddd; float: left;padding: 5px;text-align: center;}

	li.able-qiandao{background: #e84444; }
	li.checked{background:#de0a0a url(../images/noimages/qdtb.png) no-repeat center;}
	.mask{ width: 50%;height: 510px;position: absolute;top: 0;left: 0;visibility: hidden;transition: all 0.25s ease}
	.modal{background:#fff;width: 360px;height: 270px;border-radius: 10px;position: absolute;margin-top: -200px;margin-left:-91px;left: 50%;top: 50%;border:5px solid #42941a;box-sizing:border-box;overflow: hidden;transform: translateY(-200%);transition: all 0.25s ease}
	a.closeBtn{display: block;position: absolute;right: 10px;top: 5px;font-family: 'simsun';font-size: 18px;text-decoration: none;font-weight: bolder;color: #333}
	.title_h1{text-align: center;font-size: 40px;font-weight: normal;padding-top: 80px;display: block;width: 100%}
	.title_h1 span{display: inline-block;width: 40px;height: 40px;border-radius: 100%;background: #42941a;color: #fff;position: relative;float: left;margin-left: 15%;margin-top: 7px;}
	.title_h1 span::before{width: 10px;height: 2px;background: #fff;position: absolute;left: 8px;top: 23px;display: block;line-height: 0;font-size: 0;content: ""; transform: rotate(52deg);}
	.title_h1 span::after{width: 24px;height: 2px;background: #fff;position: absolute;left: 12px;top: 20px;display: block;line-height: 0;font-size: 0;content: "";transform: rotate(-45deg);}
	.title_h1 em{display: inline-block;font-size: 30px;float: left;margin-left: 10px;}
	.title_h1 i{display: inline-block;font-size: 16px;float: left;margin: 14px 0 0 10px;}
	.title_h2{text-align: center;font-size: 16px;display: block;padding-top: 20px;}
	.title_h2 span{font-size: 36px;color: #b25d06;}
	.trf{visibility: visible;}
	.trf .modal{transform: translateY(0);}
