/*banner*/
.zbanner {width:100%; background:#242424; height:480px;}
.menu {width:1158px; height:90px; border:1px solid #535353; margin:0; position:absolute; z-index:10;}
.menu h2 {font-size:20px; color:#fff; font-weight:500; margin-top:20px; margin-left:30px; letter-spacing:2px;}
.menu h2 span {color:#ffd770;}
.menu h2 a  {text-decoration: none;}
.menu a em {font-size:13px; line-height:28px; letter-spacing:1px; color: #fff;}
.menu .m1 {width:250px; height:90px; float:left; background:url("new/menu-pic01.png") no-repeat right bottom; display:block; text-decoration:none; transition: all .5s; }
.menu .m1:hover {background:url("new/menu-pic01.png") no-repeat right bottom #343434;}
.menu .m2 {width:250px; height:90px; float:left; background:url("new/menu-pic02.png") no-repeat right bottom; display:block; text-decoration:none; transition: all .5s; }
.menu .m2:hover {background:url("new/menu-pic02.png") no-repeat right bottom #343434;}
.menu .m3 {width:250px; height:90px; float:left; background:url("new/menu-pic03.png") no-repeat right bottom; display:block; text-decoration:none; transition: all .5s; }
.menu .m3:hover {background:url("new/menu-pic03.png") no-repeat right bottom #343434;}
.menu .m4 {width:408px; height:90px; float:left; background:url("new/menu-pic04.png") no-repeat right bottom; display:block; text-decoration:none; transition: all .5s; }
.menu .m4:hover {background:url("new/menu-pic04.png") no-repeat right bottom #343434;}
.menu .m4 i a{font-size:12px; float:right; display:block; color:#ffd770; font-style:normal; letter-spacing:0; margin-right:25px; margin-top:10px;}

/*��һ����*/
.box1 {width:1160px; margin:20px auto; background:#242424; overflow:hidden; padding-bottom:80px;}
.box1 h3 {width:100%; text-align:center; font-size:30px; margin-top:45px; font-weight:500; color:#fff; letter-spacing:2px;}
.box1 h3  p{font-size:13px; line-height:32px; font-weight:normal;}
/**tabs**/
.tabPanel {width:100%; height:635px; margin-top:25px;}
.tabPanel dl{ width:484px; height:50px; margin:0 auto;}
.tabPanel dl dd{
	float:left;border:1px solid #bb9a44;font-size:20px;height:50px;line-height:50px;width:240px;text-align:center;cursor:pointer; color:#bb9a44; transition: all .5s;
}
.tabPanel .hit{
	border-bottom:1px solid #bb9a44;cursor:pointer;color:#fff;
	background:#bb9a44;
}
.panes {margin-top:70px;}
.pane{display:none; color:#fff;  transition: all 1s;}
.pane .video { width:724px; height:424px; background:url("new/vedio-bg.png") no-repeat center; float:left; margin-left:76px;}
.pane .video .videobox{width:546px; height:314px; margin-top:25px; margin-left:85px;}
.pane .video  .video-img{width:546px;height:282px;overflow:hidden; text-align:center;}
.pane .video  .video-list{height:94px; margin-top:7px;}
.pane .video  .video-list li{width:94px;height:53px;overflow:hidden;position:relative;float:left;cursor:pointer; margin-left:13px;}
.pane .video  .video-list li .icon-video{position:absolute; top:0; left:0;z-index:99;}
.pane .video  .video-list li.now .icon-video{display:none;}
.pane .content {width:240px; float:left; height:512px; margin-left:40px;}
.pane .content h4 {font-size:25px; font-weight:500; color:#fff; margin-bottom:15px;}
.pane .content p {width:195px; font-size:15px; color:#fff; line-height:38px; display:block; letter-spacing:2px; transition: all .5s; }
.pane .content p:hover {margin-left:20px;}
.pane .content p img {float:left; margin-top:7px; margin-right:14px;}
.pane .content .pc{width:240px; height:40px; display:block; text-decoration:none; line-height:40px; color:#fff; margin-top:94px; margin-bottom:20px;}
.pane .content .pc .left {display:block; float:left; background:#2785f0 url("new/icon-pc.png") no-repeat center; text-align:center;height:40px; margin-right:1px; width:52px; transition: all .5s;}
.pane .content .pc .right {display:block; float:left; background:#2785f0; line-height:40px; width:162px; float:left; padding-left:25px; font-size:20px; letter-spacing:2px; transition: all .5s;}
.pane .content .pc:hover .left {background:#4ca0ff url("new/icon-pc.png") no-repeat center;}
.pane .content .pc:hover .right {background:#4ca0ff}

.pane .content .pad{width:240px; height:40px; display:block; text-decoration:none; line-height:40px; color:#242424; margin-bottom:20px;}
.pane .content .pad .left {display:block; float:left; background:#c2c2c2 url("new/icon-pad.png") no-repeat center; text-align:center;height:40px; margin-right:1px; width:52px; transition: all .5s;}
.pane .content .pad .right {display:block; float:left; background:#c2c2c2; line-height:40px; width:162px; float:left; padding-left:25px; font-size:20px; letter-spacing:2px; transition: all .5s;}
.pane .content .pad:hover .left {background:#fff url("new/icon-pad.png") no-repeat center;}
.pane .content .pad:hover .right {background:#fff}
.pane .content .pad .ewm {display:none; transition: all .5s; width:184px; height:190px;}
.pane .content .pad:hover .ewm {width:184px; height:190px; background:url("new/ewm-bg.png") no-repeat left; display:block; position:absolute; z-index:100; margin-left:-190px; margin-top:-82px;}
.pane .content .pad:hover .ewm p {width:167px; line-height:25px; font-size:14px; color:#000; text-align:center; letter-spacing:0;}
.pane .content .pad:hover .ewm img {margin-left:5px; width:160px;}

.pane .content .wx{width:240px; height:40px; display:block; text-decoration:none; line-height:40px; color:#fff; margin-bottom:20px;}
.pane .content .wx .left {display:block; float:left; background:#5bb85b url("new/icon-wechat.png") no-repeat center; text-align:center;height:40px; margin-right:1px; width:52px; transition: all .5s;}
.pane .content .wx .right {display:block; float:left; background:#5bb85b; line-height:40px; width:162px; float:left; padding-left:25px; font-size:20px; letter-spacing:2px; transition: all .5s;}
.pane .content .wx:hover .left {background:#72d772 url("new/icon-wechat.png") no-repeat center;}
.pane .content .wx:hover .right {background:#72d772}
.pane .content .wx .ewm {display:none; transition: all .5s; width:184px; height:190px;}
.pane .content .wx:hover .ewm {width:184px; height:190px; background:url("new/ewm-bg.png") no-repeat left; display:block; position:absolute; z-index:100; margin-left:-190px; margin-top:-82px;}
.pane .content .wx:hover .ewm p {width:167px; line-height:25px; font-size:14px; color:#000; text-align:center; letter-spacing:0;}
.pane .content .wx:hover .ewm img {margin-left:5px; width:160px;}

.pane .content .app{width:240px; height:40px; display:block; text-decoration:none; line-height:40px; color:#fff; margin-bottom:20px;}
.pane .content .app .left {display:block; float:left; background:#f09927 url("new/icon-app.png") no-repeat center; text-align:center;height:40px; margin-right:1px; width:52px; transition: all .5s;}
.pane .content .app .right {display:block; float:left; background:#f09927; line-height:40px; width:162px; float:left; padding-left:25px; font-size:20px; letter-spacing:2px; transition: all .5s;}
.pane .content .app:hover .left {background:#ffab3e url("new/icon-app.png") no-repeat center;}
.pane .content .app:hover .right {background:#ffab3e}
.pane .content .app .ewm {display:none; transition: all .5s; width:184px; height:190px;}
.pane .content .app:hover .ewm {width:184px; height:190px; background:url("new/ewm-bg.png") no-repeat left; display:block; position:absolute; z-index:100; margin-left:-190px; margin-top:-82px;}
.pane .content .app:hover .ewm p {width:167px; line-height:25px; font-size:14px; color:#000; text-align:center; letter-spacing:0;}
.pane .content .app:hover .ewm img {margin-left:5px; width:160px;}

.activity {width:708px; height:78px; border-top:1px solid #636363; border-bottom:1px solid #636363; position:relative; z-index:99; margin-left:83px; margin-top:-82px;}
.activity .title {width:57px; background:#636363 url("new/act-iocn.png") no-repeat top; background-position:50% 6px; font-size:18px; color:#ffd771; text-align:center; float:left; height:52px; margin-top:-78px; padding-top:26px;}
.indexTypes{width:650px;/*border:1px solid #f00;*/position:absolute; margin-left:57px;border-right:1px solid #636363;}
.indexTypes ul li{position:relative;float:left;width:86px;overflow:hidden;height:78px; float:left;}
.indexTypes ul li:hover{cursor:pointer;}
.indexTypes ul li.currnet{width:392px;}
.indexTypes ul li .title{width:86px; height:150px; position:absolute; z-index:50;filter:alpha(opacity=70);   -moz-opacity:0.7;   -khtml-opacity: 0.7;   opacity: 0.7; background:#000;  }
.indexTypes ul li.current .title{ display:none;}
.indexTypes ul li .con{position:absolute;top:0; width:391px;overflow:hidden;height:78px; z-index:49; border-right:1px solid #636363; border-left:1px solid #636363; }
.indexTypes ul li #con11{background:url("new/act-01.jpg") no-repeat left top; margin-left:-86px;}
.indexTypes ul li #con22{background:url("new/act-01.jpg") no-repeat left top;}
.indexTypes ul li #con33{background:url("new/act-01.jpg") no-repeat left top;}
.indexTypes ul li #con44{background:url("new/act-01.jpg") no-repeat left top;}

.zhucelan{position: absolute;}
.sign {color: #fff;width:1100px; background:#29323b; overflow:hidden;}
.sign_box {color: #a9a9a9; width:688px;padding:30px 0; margin-left:43px; float:left;}
.sign_box .in01 {width:119px; height:30px; background:#fff; padding-left:14px; font-size:13px; line-height:30px; float:left; margin-right:2px;}
.sign_box .in01 {
	background: #fff none repeat scroll 0 0;
 float: left;
 font-size: 13px;
 height: 36px;
 line-height: 30px;
 margin-right: 2px;
 padding-left: 14px;
 width: 145px;
}
.sign_box .in02 {width:100px; height:30px; background:#fff; padding-left:14px; font-size:13px; line-height:30px; float:left; margin-right:30px;}
.sign_box .in02 {    margin-left: 110px;width:270px; height:30px; background:#fff url("new/sign-icon01.png") no-repeat left; background-position:15px center; font-size:13px; padding-left:13px; line-height:30px; float:left; margin-bottom:10px;}
.sign_box .in02 {
	background: #fff url("new/sign-icon01.png") no-repeat scroll 15px center;
float: left;
font-size: 13px;
height: 36px;
line-height: 30px;
margin-bottom: 10px;
margin-left: 20px;
padding-left: 13px;
width: 295px;
}
.sign_box .in03 {width:240px; height:30px; background:#fff url("new/sign-icon02.png") no-repeat left; background-position:15px center; font-size:13px; padding-left:13px; line-height:30px; float:left; margin-bottom:10px; margin-right:30px;}
.sign_box .in03 {
	background: #fff url("new/sign-icon02.png") no-repeat scroll 15px center;
     float: left;
     font-size: 13px;
     height: 36px;
     line-height: 30px;
     margin-bottom: 10px;
     margin-right: 30px;
     padding-left: 13px;
     width: 295px;
}
.sign_box .in04 {width:240px; height:30px; background:#fff url("new/sign-icon03.png") no-repeat left; background-position:15px center; font-size:13px; padding-left:13px; line-height:30px; float:left; margin-bottom:10px;}
.sign_box .in04 {
	background: #fff url("new/sign-icon03.png") no-repeat scroll 15px center;
	float: left;
	font-size: 13px;
	height: 36px;
	line-height: 30px;
	margin-bottom: 10px;
	padding-left: 13px;
	width: 295px;
}
.sign_box .in05 {    margin-left: 80px;color: #000;width:50px; height:30px; background:#fff; font-size:13px; text-align:center; line-height:30px; float:left; margin-bottom:10px;}
.sign_box .in05 {
	background: #fff none repeat scroll 0 0;
	    color: #000;
	    float: left;
	    font-size: 13px;
	    height: 36px;
	    line-height: 30px;
	    margin-bottom: 10px;
	    margin-left: 50px;
	    text-align: center;
	    width: 50px;
}
.sign_box .in06 {width:220px; height:30px; background:#fff; font-size:13px; line-height:30px; float:left; margin-bottom:10px; margin-right:30px;}
.sign_box .in06 {
	background: #fff none repeat scroll 0 0;
     float: left;
     font-size: 13px;
     height: 36px;
     line-height: 30px;
     margin-bottom: 10px;
     margin-right: 30px;
     width: 245px;
}
.sign_box .in07 {    margin-left: 80px;width:166px; height:30px; background:#fff; padding-left:12px; font-size:13px; line-height:30px; float:left; margin-bottom:10px; margin-right:4px;}
.sign_box .in07 {
	background: #fff none repeat scroll 0 0;
    float: left;
    font-size: 13px;
    height: 36px;
    line-height: 30px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 4px;
    padding-left: 12px;
    width: 190px;
}
.sign_box .in08 {width:218px; height:30px; padding-left:12px; font-size:13px; line-height:30px; float:left; margin-bottom:10px; margin-left:22px;}
.sign_box .btn01 {width:100px; height:30px; text-align:center; font-size:13px; line-height:28px; color:#fff; background:#2785f0; float:left; border-radius:2px; transition: all .5s;}
.sign_box .btn01:hover{ background-color:#69c6e1;}
.sign_box .cho {height:30px; display:block; margin-bottom:10px; float:left; margin-left:15px; color:#fff; line-height:30px;}
.sign_box .ch {float:left; margin-top:10px; margin-right:8px;}
.sign_box span {display:block; line-height:30px; float:left; color:#fff; margin-left:15px; margin-right:10px;}
.sign_box span img {float:left; margin-top:9px; margin-right:10px;}
.ce {width:320px; color:#fff; display:block; float:left; margin-top:38px; line-height:20px;}
.ce .bo {margin-right:5px; margin-top:5px; float:left; margin-left:25px;}
.ce a {color:#00a2ff; text-decoration:underline}
.btn02 {width:223px; height:30px; background:url("new/btn-bg02.png") repeat-x center; line-height:28px; text-align:center; color:#fff; font-size:20px; margin-left:25px; margin-top:12px; border-radius:2px; letter-spacing:4px;}
.btn02:hover { background:url("new/btn-bg02.png") repeat-x center; }


/*����2*/
.box2 {width:1128px; margin:40px auto 0; height:395px; background:#242424;}
.box2 .simulation {width:697px; float:right; height:395px;}
.box2 .simulation h3 { font-size:20px; color:#ffd770; font-weight:500; line-height:50px; padding-left:32px; letter-spacing:2px;}
.box2 .simulation span {color:#fff; font-size:13px; margin-top:18px;}
.box2 .single {width:430px; float:left; height:395px;}
.box2 .single .btn03 { float:left; width:182px; height:48px; border:1px solid #44899d; line-height:46px; color:#44899d; font-size:16px; padding-left:30px; background:url("new/box2-icon01.png") no-repeat left; background-position:30px center; margin-top:15px;  transition: all .5s; letter-spacing:2px;}
.box2 .single .btn03:hover { background:url("new/box2-icon02.png") no-repeat left #44899d; background-position:30px center; color:#fff;}
.box2 .single .btn04 { float:left; width:182px; height:48px; border:1px solid #44899d; line-height:46px; color:#44899d; font-size:16px; padding-left:30px; background:url("new/box2-icon03.png") no-repeat left; background-position:30px center; margin-top:15px;  transition: all .5s; letter-spacing:2px; border-left:0;}
.box2 .single .btn04:hover { background:url("new/box2-icon04.png") no-repeat left #44899d; background-position:30px center; color:#fff;}

/*����3*/
.box3 {width:1160px; margin:40px auto 0; height:400px; background:#1a1a1a;}
.box3 ul {width:870px; height:400px; float:left;}
.box3 ul li {width:290px; float:left; height:400px; text-align:center; overflow-y:hidden;}
.box3 .mr {background:image-url("new/mrjp-bg01.jpg") no-repeat center;  transition: all .5s; }
.box3 .mr img {margin-top:90px; margin-bottom:27px;  transition: all .5s; }
.box3 .mr .line {width:17px; height:1px; margin:0 auto; background:#fff;  transition: all .8s; }
.box3 .mr h4 {font-size:30px; color:#ffd770; line-height:70px; letter-spacing:2px; font-weight:500;  transition: all .5s; }
.box3 .mr .Sketch {width:250px; margin:0 auto; font-size:13px; color:#fff;  transition: all .5s; text-align:left; }
.box3 .mr .Sketch span {display:block; padding: 0 5px; height:20px; background:#44899d; text-align:center; line-height:20px; float:left;  transition: all .5s; margin-left:30px; margin-right:8px; }
.box3 .mr .Sketch a {color: #fff; text-decoration: none;}
.box3 .mr .con {display:none;}
.box3 .mr .con a {color: #fff; text-decoration: none;}
.box3 .mr p {display:none; }
.box3 .mr:hover {background:url("new/mrjp-bg02.jpg") no-repeat center;}
.box3 .mr:hover img { margin:18px auto;}
.box3 .mr:hover .line { display:none;}
.box3 .mr:hover h4 {line-height:35px;}
.box3 .mr:hover .Sketch {border-top:1px solid #4c4c4c; margin-top:10px; padding-top:10px;}
.box3 .mr:hover .Sketch span {}

.box3 .mr:hover .con {display:block; width:220px; font-size:12px; color:#818181; text-align:left; margin:20px auto 0; line-height:20px; font-family:"����";}
.box3 .mr:hover p{ display:block; width:100%; margin-top:13px;}
.box3 .mr:hover p .btn05 {width:170px; height:30px; border:1px solid #44899d; color:#44899d; text-align:center; line-height:28px; font-size:14px; background:none; transition: all .5s;}
.box3 .mr:hover p .btn05:hover {background:#44899d; color:#fff;}

.box3 .suc {background:image-url("new/Success-bg01.jpg") no-repeat center;  transition: all .5s; }
.box3 .suc img {margin-top:90px; margin-bottom:27px;  transition: all .5s; }
.box3 .suc .line {width:17px; height:1px; margin:0 auto; background:#fff;  transition: all .8s; }
.box3 .suc h4 {font-size:30px; color:#ffd770; line-height:70px; letter-spacing:2px; font-weight:500;  transition: all .5s; }
.box3 .suc .Sketch {width:220px; margin:0 auto; font-size:13px; color:#fff;  transition: all .5s; text-align:left; padding:0 15px; }
.box3 .suc .Sketch a {color: #fff; text-decoration: none;}
.box3 .suc .con {display:none;}
.box3 .suc .con a {color: #fff; text-decoration: none;}
.box3 .suc p {display:none; }
.box3 .suc:hover {background:url("new/Success-bg02.jpg") no-repeat center;}
.box3 .suc:hover img { margin:18px auto;}
.box3 .suc:hover .line { display:none;}
.box3 .suc:hover h4 {line-height:35px;}
.box3 .suc:hover .Sketch { display:block; font-size:14px; border-top:1px solid #4c4c4c; margin-top:10px; padding-top:10px; line-height:20px;}
.box3 .suc:hover .con {display:block; width:220px; font-size:12px; color:#818181; text-align:left; margin:20px auto 0; line-height:20px; font-family:"����";}
.box3 .suc:hover p{ display:block; width:100%; margin-top:13px;}
.box3 .suc:hover p .btn05 {width:170px; height:30px; border:1px solid #44899d; color:#44899d; text-align:center; line-height:28px; font-size:14px; background:none; transition: all .5s;}
.box3 .suc:hover p .btn05:hover {background:#44899d; color:#fff;}

.box3 .qa {background:url("new/qa-bg.jpg") no-repeat center;  transition: all .5s; }
.box3 .qa img {margin-top:90px; margin-bottom:27px;  transition: all .5s; }
.box3 .qa .line {width:17px; height:1px; margin:0 auto; background:#fff;  transition: all .8s; }
.box3 .qa h4 {font-size:30px; color:#ffd770; line-height:70px; letter-spacing:2px; font-weight:500;  transition: all .5s; }
.box3 .qa .Sketch {width:220px; margin:0 auto; font-size:13px; color:#fff;  transition: all .5s; text-align:left; padding:0 15px; }
.box3 .qa .con {display:none;}
.box3 .qa p {display:none; }
.box3 .qa:hover {background:url("new/qa-bg02.jpg") no-repeat center;}
.box3 .qa:hover img { margin:18px auto;}
.box3 .qa:hover .line { display:none;}
.box3 .qa:hover h4 {line-height:35px;}
.box3 .qa:hover .Sketch { display:none;}
.box3 .qa:hover .con {display:block; width:220px; font-size:12px; color:#fff; text-align:left; margin:20px auto 0; line-height:20px; font-family:"����"; border-top:1px solid #4c4c4c; padding:10px 15px 0;}
.box3 .qa:hover .con .q{float:left; margin-top:0; margin-right:8px; margin-top:2px;}
.box3 .qa:hover .con span{ display:block; width:183px; float:left; margin-bottom:13px;}
.box3 .qa:hover .con .sec {font-size:14px; margin-bottom:5px;}
.box3 .qa:hover p{ display:block; width:100%; }
.box3 .qa:hover p .btn05 {width:170px; height:30px; border:1px solid #44899d; color:#44899d; text-align:center; line-height:28px; font-size:14px; background:none; transition: all .5s;}
.box3 .qa:hover p .btn05:hover {background:#44899d; color:#fff;}



.box3 .Community {float:left; width:290px; height:400px;}
.box3 .Community h4 {width:100%; text-align:center; font-size:15px; line-height:38px; color:#ffd770; border-bottom:1px solid #242424;}

/*IB*/
.ib {width:1160px; height:210px; margin:50px auto 68px; background:#242424 url("new/ib-bg.png") no-repeat right; border:1px solid #525252;}
.ib h3 { font-size:20px; color:#ffd770; font-weight:500; line-height:50px; padding-left:32px; letter-spacing:2px;}
.ib span {color:#fff; font-size:13px; margin-top:18px;}
.ib img {margin-left:33px; margin-top:8px; float:left;}
.ib h2 {font-size:31px; color:#fff; width:485px; text-align:center; float:left; margin-left:70px; margin-top:-30px;}
.ib h2 span {color:#ffd770;font-size:31px;}
.ib h2 p {font-size:13px; color:#777777; letter-spacing:5px; font-family:Arial, Helvetica, sans-serif; line-height:22px;}
.ib h2 em {font-size:12px; color:#ffd770; letter-spacing:5px; margin-top:6px; display:block;}
.ib .btn06 {width:240px; height:40px; background:#ff1212; letter-spacing:2px; line-height:38px; font-size:17px; text-align:center; color:#fff; float:left; margin-left:70px; margin-top:16px; border-radius:2px;}
.ib .btn06:hover {background:#ff3838;}
.ib .btn07 {width:240px; height:40px; background:#ff1212; letter-spacing:2px; line-height:38px; font-size:17px; text-align:center; color:#fff; float:left; margin-left:5px; margin-top:16px; border-radius:2px;}
.ib .btn07:hover {background:#ff3838;}

/* �õ�Ƭ�л���ʽ */
/****
author:yangxian,designer:fenggewei,update:20141224

*****/
blockquote,q{quotes:none;}
blockquote:before, blockquote:after,q:before, q:after { content:""; content:none;}
.clear_fixed{zoom:1;}
.clear_fixed:after{ content:""; display:block; clear:both; font-size:0; line-height:0; visibility:hidden;}

.wrapper {height:373px; width:1160px; padding:0;}
.hd{ position:absolute; left:0; top:-100px; color:#fff; width:500px;}
.main2 strong {font-size:40px; font-weight:normal;}
.main2 h2 {font-size:20px; margin-top:65px;}
.zwp{ width:1160px; margin:0 auto; position:relative;}


.content{ position:relative;zoom:1;}
.content .main2{ width:1160px; margin:0 auto; position:absolute; left:50%; margin-left:-550px; margin-top:195px;}
.bg_colors{ position:absolute; left:0; top:0; width:100%; height:100%;}
.bgs_box{ position:absolute; left:0; top:0; width:100%; height:100%;opacity:0;filter:alpha(opacity=0);}
.bg_colors .on{opacity:1;filter:alpha(opacity=100)}
.bg_colors .wp{ height:373px;}
.img_area{width:648px; float:right; margin-top:10px; text-align:center;}
.item_txt_box{ width:50%; height:373px; position:absolute; top:0; left:0;}
.item_txt{width:50%; height:373px; position:absolute; top:0; left:-9999px;}
.item_txt_box .on{ left:0;}

.bgs_box .wp{ position:absolute; left:50%; margin-left:-550px; height:auto!important; z-index:0!important; }

.item_txt_1 .txt_info{ height:373px;}

.s_left, .s_right{width:60px; height:60px; position:absolute; top:50%; margin-top:-30px; cursor:pointer; z-index:10;}
.s_left{ background-position:0 0;  left:10px;}
.s_left:hover{ background-position:0 -62px;}
.s_right{ background-position:-62px 0; right:10px;}
.s_right:hover{ background-position:-62px -62px;}

.switch_list{ position:absolute; left:50%; height:5px; margin-left:-30px; text-align:center; z-index:10; margin-top:350px;}
.switch_list span{ display:block; width:30px; height:5px; background:#000; float:left; margin-right:10px;}
.switch_list .on{ display:block; width:30px; height:5px; background:#478ea4;}


.item_txt_2 .txt_info{ background-position:0 -156px; width:383px; height:105px;}

.item_txt_3 .txt_info{ background-position:0 -295px; width:383px; height:110px;}

.wrapper .btn03 {width:140px; height:40px; border:1px solid #cf1e1f; text-align:center; line-height:38px; color:#ff1212; font-size:15px; background:none; border-radius:2px; margin-top:41px; transition: all .5s;}
.wrapper .btn03:hover { background:#cf1e1f; color:#fff; }
.in11{height: 30px;width: 105px;text-align: center;letter-spacing: 2px;}


.item_img_css3{
	-webkit-animation:img_item .8s ease-out;
	animation:img_item .8s ease-out;
}

@-webkit-keyframes img_item{
	0%{-webkit-transform:translateX(100px); opacity:0}
	100%{-webkit-transform:translateX(0);  opacity:1}
}
@keyframes img_item{
	0%{transform:translateX(100px);opacity:0}
	100%{transform:translateX(0); opacity:1}
}

.item_img_css3 .shadow01{
	-webkit-animation:img_item01 .8s ease-out;
	animation:img_item01 .8s ease-out;
}

@-webkit-keyframes img_item01{
	0%{-webkit-transform:translateX(-200px); opacity:0}
	100%{-webkit-transform:translateX(0);  opacity:1}
}
@keyframes img_item01{
	0%{transform:translateX(-200px);opacity:0}
	100%{transform:translateX(0); opacity:1}
}

.item_txt_css3{
	-webkit-animation:txt_item .8s ease-out;
	animation:txt_item .8s ease-out;
}
@-webkit-keyframes txt_item{
	0%{-webkit-transform:translateX(-100px); opacity:0}
	100%{-webkit-transform:translateX(0);  opacity:1}
}
@keyframes txt_item{
	0%{transform:translateX(-100px);opacity:0}
	100%{transform:translateX(0); opacity:1}
}
