<div class="one_zhang expiry-panel">
  <div id="game-types-menu" class="one_z1 btn-group">

    <button class="btn2 b-game-type active" type="button" id="game-type-1" data-game-type="1">涨/跌</button>
    <button class="btn1 b-game-type" type="button" id="game-type-2" data-game-type="2">
      <span class="b-current-expiry-in">      60秒 </span>
    </button>
  </div>

  <div  class="one_z3 pull-right game-type-1">
    <div style="margin: 8px 0; width:120px;">
      <select id = "game-expiry-box" name="" style="width:100%;">
        <option value="1481424300000" selected="">今天 10:45</option>
      </select>
    </div>
  </div>

    <div class="one_z2 btn-group  btn-group-sm pull-right game-type-2 " style="display:none">
      <button class="btn btn4 game-short-expiry-tooltip" type="button" id="3">
        今天<span class="b-game-round-start-at"> 10:48  </span>
      </button>
      <button class="btn btn3 b-expiry-in" type="button" id="4" data-expiry-in="30">30sec</button>
      <button class="btn btn3 b-expiry-in" type="button" id="5" data-expiry-in="60">60sec</button>
      <button class="btn btn3 b-expiry-in" type="button" id="6" data-expiry-in="120">2min</button>
      <button class="btn btn3 b-expiry-in" type="button" id="7" data-expiry-in="300">5min</button>
    </div>


</div>
