<%= render "sign_up" %>

<div class="jiaoyi1body forex-grid">
  <hr>
  <div class="jiaoyi1body_nei">
    <div class="jiaoyi1_left clearfix">
      <%= render "forex_header" %>

      <% symbols = ["USEURUSD","USGBPUSD","USAUDUSD","USUSDCAD"] %>
      <% symbols.each_with_index{|symbol,i| %>
          <%= render partial:"forex_chart_as_grid_cell", locals: { symbol: symbol, container_id: "forex-chart#{i}"} %>
      <% } %>
    </div>

    <div class="jiaoyi1_right">
      <%= render "forex_sidebar" %>
    </div>

  </div>
</div>
