<div> <h2 class="page-header">编辑代理 </h2>
</div>
<div>
  <%= better_form_for(@broker, url: {:action=>"update"} ) do |f| %>
    <div class="form-inputs">
      <%= f.input :nickname %>
      <%= f.input :email %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "编辑代理" %>
    </div>
  <% end %>
</div>
