<%=image_tag "new/hezuo_03.png" %>
<div class="hzdh" id="nav">
	<ul>
		<li><a href="/a/yonghuzhongxin/">用户中心</a></li>
		<li><a href="/a/tiaokuanxieyi/">条款协议</a></li>
    <li><a href="/a/fuchizhengce/">扶持政策</a></li>
    <li><a href="/a/changjianwentiri/">常见问题</a></li>
    <li><a href="/a/guanwangshuoming/">官网说明</a></li>
    <li>
      <a href="/a/dailikaihu/">代理开户</a>
      <div class="xian">
        <a href="/a/dailikaihu/gerenkaihu/">个人开户</a>
        <a href="/a/dailikaihu/qiyekaihu/">企业开户</a>
      </div>
    </li>
    <li><a href="/a/meiyuechunxiao/">每月促销</a></li>
	</ul>
</div>
