<div id="shougerentong1">

	<div class="shou_top2">
		<form>
			<ul>
				<li class="biduan">常用卡</li><li class="bichang"><select><option>中国建设银行（3355）</option></select></li>
				<li class="biduan">银行名称</li><li class="bichang"><select><option>中国建设银行</option></select></li>
				<li class="biduan">分支银行</li><li class="bichang"><input type="text" value="请输入分支银行"></li>
				<li class="biduan">银行地址</li><li class="bichang"><input type="text" value="请输入银行所在地址"></li>
				<li class="biduan">户名</li><li class="bichang"><input type="text" value="某**"></li>
				<li class="biduan">银行卡号</li><li class="bichang"><input type="text" value="请输入银行卡号"></li>
				<li class="biduan"><hr></li><li class="bichang"><hr></li>
				<li class="biduan">提款金额</li><li class="bichang"><input type="text" value="请输入提款金额"></li>
				<li class="biduan">资金密码</li><li class="bichang"><input type="text" value="请输入资金密码"></li>
			</ul>
			<button class="tixianti"></button>
		</form>
	</div>

</div>
