<div class="chuantongbody">
  <%=image_tag "new/dailiimg/qianjing_02.gif", class:"dailibanner" %>
  <div class="tiaokuannei">

<iframe src="/info/templets/default/huodong_daililist.htm" width="1100px" height="928" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no" allowtransparency="yes"></iframe>
  </div>
</div>
