<div class="chuantongbody">
  <%=image_tag "new/dailiimg/qianjing_02.gif", class: "dailibanner"%>
  <div class="chuantongnei">
    <div class="ctnei1">
      <a href=""><span>传统模式</span></a><a href=""><b>加盟优势</b></a>
      <h1>二元期权娱乐优势</h1>
      <h2>1、代理佣金直接发放至代理银行账户内。</h2>
      <h2>2、针对新老合营伙伴的多元化扶持计划，让您后顾无忧。</h2>
      <h2>3、我们的市场策略为业界最佳，口碑也是我们最好的营销方式。</h2>
      <h2>4、最佳佣金计划、合营伙伴将按照代理等级提升代理佣金比例，级别越高，代理佣金比例越高。</h2>
      <h2>5、我们7*24小时竭诚为您服务。</h2>
    </div>
    <div class="ctnei2">
      <h1>代理佣金待遇制度</h1>
      <table>
        <tr>
          <td class="cttou">净盈利</td><td class="cttou">活跃人数（名）</td><td class="cttou">佣金比例</td>
        </tr>
        <tr>
          <td class="ctti">1-200000</td><td class="ctti">≥5</td><td class="ctti">40%</td>
        </tr>
        <tr>
          <td class="ctti">200001-500000</td><td class="ctti">≥10</td><td class="ctti">45%</td>
        </tr>
        <tr>
          <td class="ctti">500000以上</td><td class="ctti">≥30</td><td class="ctti">50%</td>
        </tr>
      </table>
      <h2>活跃会员定义：当月有存款大于500，计算为一名活跃会员。</h2>
      <h2>佣金比例：所有的比例游戏类型统一佣金比例40%-50%。</h2>
      <h2>代理费用：代理费用包含平台手续费、红利费用；以上费用将会累计并在代理每月的佣金中扣除。</h2>
      <h2>子代规则：如代理需发展线下子代理，必须由代理直接像官方申请，官方将不与代理的子代进行接触。佣金结算  时只和代理进行结算。</h2>
      <h2>注意事项：根据佣金制度每月依照佣金比例支付佣金给代理，如正式成为我们的代理后，连续三个月都未能达到 佣金标准，将取消代理资格。</h2>
    </div>
    <div class="ctnei3">
      <h1>佣金计算方式</h1>
      <h2><div class="fangkuai"></div>佣金=净盈利*佣金比率（40-50）%</h2>
      <h2><div class="fangkuai"></div>新代理当月未产生数据，可累计至次月达到佣金标准时统一发放，最多可累计三个月，三个月未达到标准，将      取消代理资格。</h2>
      <h2><div class="fangkuai"></div>代理如有子代理直接和总代进行结算。</h2>
      <h2><div class="fangkuai"></div>正盈利持续累计至次月结算。</h2>
    </div>
    <div class="ctnei4">
      <h1>佣金领取标准</h1>
      <h2><div class="fangkuai4"></div>代理至少有5名活跃玩家。</h2>
      <h2><div class="fangkuai4"></div>如代理佣金当月为负值，则负值累计到次月。</h2>
      <h2><div class="fangkuai4"></div>如代理当月佣金小于100元，金额则累计到次月，当佣金大于100元时，统一发放。</h2>
      <h2><div class="fangkuai4"></div>如代理当月佣金大于10元，但活跃人数小于5人，佣金则累计到次月达到佣金标准时，统一发放。</h2>
    </div>
    <div class="ctnei5">
       <h1>佣金支付细则</h1>
      <h2><div class="fangkuai"></div>代理佣金直接发放至代理制定银行账户内。</h2>
      <h2><div class="fangkuai"></div>代理佣金于次月1日开始审核结算，7个工作日内派发完毕。</h2>
      <h2><div class="fangkuai"></div>代理佣金最低提款金额为100元，小于100元的佣金将累计，满足大于100元后出款。</h2>
    </div>
    <div class="ctnei6">
       <h1>注意事项</h1>
      <h2><div class="fangkuai"></div>为确保代理会员间发展的公平性，公司对代理实施全面保护，禁止任何形式内拉行为，如有发现相关事宜且确 定者，公司会对首次行为进行警</h2>
      <h2><div class="fangkuai"></div>平台不会改动用户的密码，如发现账号无法登陆或密码错误，请立即联系在线客服。</h2>
      <h2><div class="fangkuai"></div>如代理在规定时间内不符合我们的要求，我们有权随时取消合作关系。</h2>
      <h2><div class="fangkuai"></div>我们二元期权拥有最终解释权</h2>
    </div>
  </div>
</div>
