<div class="chuantongbody">
  <%=image_tag "new/dailiimg/qianjing_02.gif", class:"dailibanner" %>

  <div style="width:1100px;margin:auto;background:#161616">
    <div class="qianjingnei1" style="width: 1100px;overflow: hidden;padding: 62px;">
      <ul>
      <li><h1>1、立即注册</h1><h2>轻松30秒注册</h2></li>
      <li><h1>2、审核批准</h1><h2>后台严格审核</h2></li>
      <li><h1>3、获取追踪代码</h1><h2>代码追踪获取</h2></li>
      <li><h1>4、开始赚钱</h1><h2>开始赚钱之路</h2></li>
      </ul>
    </div>
   <h1 style="text-align: center; color: #f3d34c; font-size: 20px; font-family: 微软雅黑; font-weight: bold;
   padding-top: 50px; margin-bottom: 30px;">我们的二元期权交易方案</h1>
   <div class="liutu">
     <div class="liutu1"></div>
     <div class="liutu2"></div>
     <div class="liutu3"></div>
     <div class="liutu4"><h2>关于方案</h2><p>可观的回报 – 多币种及时可靠地支付丰厚报酬。报告分析 – 利用同步平台的跟踪代码对活动进行评估和微调。灵活的营销工具 – 动态横幅、小组件、视频、文章、帖子、白皮书及其他。</p></div>
     <div class="liutu5"><h2 style="color:#333">零成本加盟</h2><p style="color:#333">市场高额回报， 0成本加盟 的代理模式，并有望终生获得金额不限的收入。欢迎加入我们，在快速增长且令人振奋的二元期权市场中占据先机。</p></div>
     <div class="liutu6"><h2>公司荣誉</h2><p>交易量佣金模式是指，代理的客户每交易一次，代理都会得到佣金。如果您的客户交易量很大，您可以鼓励他们使用更高的奖金，从而提高您作为代理的佣金。</p></div>
   </div>

   <div class="xuanzheus">
     <h1 style="    text-align: center;
       color: #f3d34c;
       font-size: 20px;
       font-family: 微软雅黑;
       font-weight: bold;
       margin-top: 50px;
       margin-bottom: 30px;">为什么选择我们
     </h1>
     <ul>
       <li><span>账目清晰</span>
     <p>客户资金与本公司的营运资金分隔存放于不一样的账户，本公司不能集结客户的资金。每季度有持牌第三方管 帐审计账目！</p></li>
     <li><span>取款快捷</span>
     <p>大多数情况下，从客户提交取款申请的那一刻起，我们通常在1小时内处理。我们将款项汇出后，资金通常会在
1个工作日内到账；取决于中间行、收款行的处理效率</p></li>
     <li><span>交易支持</span>
     <p>作为一家多元化金融服务机构，为机构投资者、专业资金管理人及有经验的市场交易者提供财资规划、基金管
理、金融衍生品交易和金融IT解决方案等产品与服务。</p></li>
     
     <li><span>在线服务</span>
     <p>确保客户的盈利和获取成功的交易经验是我们的首要目标。我们充分意识到拥有足够专业知识的交易者才会成
为最成功的交易者，我们有二十四小时在线客服为交易者解答疑难问题。</p></li>
     <li><span>安全服务</span>
     <p>我们使用最先进，最稳定的技术，以确保我们客户交易的安全性和满意度。所有交易都经过加密处理。我们谨
慎管理我们的责任和风险，并保证根据我们的条款支付您的利润。</p></li>
     </ul>

   </div>
 </div>

</div>
