<div class="qianjingbody">
  <%=image_tag "new/dailiimg/qianjing_02.gif", class:"dailibanner"%>
  <div class="qianjingnei">
   <ul class="chanpin">
     <li class="chanpin1"><h1>沙巴体育</h1><h2>5000场的滚球赛事- 更高的水位- 滚球投注长达91分钟</h2></li>
     <li class="chanpin2"><h1>Golden Dulex（GD）</h1><h2>传统百家乐，新式百家乐，3D百家乐，多彩百家乐，3D轮盘</h2></li>
     <li class="chanpin3"><h1>Asia Game（AG）</h1><h2>5000场的滚球赛事- 更高的水位- 滚球投注长达91分钟</h2></li>
     <li class="chanpin4"><h1>Playtech（PT）</h1><h2>5000场的滚球赛事- 更高的水位- 滚球投注长达91分钟</h2></li>
     <li class="chanpin5"><h1>波音</h1><h2>5000场的滚球赛事- 更高的水位- 滚球投注长达91分钟</h2></li>
     <li class="chanpin6"><h1>MG</h1><h2>5000场的滚球赛事- 更高的水位- 滚球投注长达91分钟</h2></li>
   </ul>
  </div>
</div>
