<table class="table">
		<tbody><tr>
			<td class="huobishou">
        <%= fa_icon "star 2x", class: " text-success" %>
      </td>
			<td class="huobishu">
				<h5>美元/瑞士阿郎</h5>
				<h6>这被广泛交易的货币对是美元兑瑞士法郎的关系</h6>
				<h5>交易时间:</h5>
				<h6>周三 11月 23 2016 00:00 周三 11月 23 2016 01:00</h6>
				<h6>周三 11月 23 2016 00:00 周三 11月 23 2016 01:00</h6>
				<h6>周三 11月 23 2016 00:00 周三 11月 23 2016 01:00</h6>
				<h6>周三 11月 23 2016 00:00 周三 11月 23 2016 01:00</h6>
				<h6>周三 11月 23 2016 00:00 周三 11月 23 2016 01:00</h6>
				<h6>周三 11月 23 2016 00:00 周三 11月 23 2016 01:00</h6>
				<h6>周三 11月 23 2016 00:00 周三 11月 23 2016 01:00</h6>
				<h6>周三 11月 23 2016 00:00 周三 11月 23 2016 01:00</h6>
				<h6>周三 11月 23 2016 00:00 周三 11月 23 2016 01:00</h6>
				<h6>周三 11月 23 2016 00:00 周三 11月 23 2016 01:00</h6>
				<h5>到期公式;</h5>
				<h6>[(BID+ASK)/2]</h6>
			</td>
		</tr>
		<tr>
			<td class="huobishou"><%= fa_icon "star 2x ", class: "text-muted"  %></td>
			<td class="huobishu">
				<h5>美元/瑞士阿郎</h5>
				<h6>这被广泛交易的货币对是美元兑瑞士法郎的关系</h6>
				<h5>交易时间:</h5>
				<h6>周三 11月 23 2016 00:00 周三 11月 23 2016 01:00</h6>
				<h6>周三 11月 23 2016 00:00 周三 11月 23 2016 01:00</h6>
				<h6>周三 11月 23 2016 00:00 周三 11月 23 2016 01:00</h6>
				<h6>周三 11月 23 2016 00:00 周三 11月 23 2016 01:00</h6>
				<h6>周三 11月 23 2016 00:00 周三 11月 23 2016 01:00</h6>
				<h6>周三 11月 23 2016 00:00 周三 11月 23 2016 01:00</h6>
				<h6>周三 11月 23 2016 00:00 周三 11月 23 2016 01:00</h6>
				<h6>周三 11月 23 2016 00:00 周三 11月 23 2016 01:00</h6>
				<h6>周三 11月 23 2016 00:00 周三 11月 23 2016 01:00</h6>
				<h6>周三 11月 23 2016 00:00 周三 11月 23 2016 01:00</h6>
				<h5>到期公式;</h5>
				<h6>[(BID+ASK)/2]</h6>
			</td>
		</tr>
	</tbody></table>
