<% content_for :page_title  do %>
  <p class="fanhui"> <%= fa_icon "angle-left" %></p>
  <p class="iphonelan">期满价格</p>
<% end %>
<table class="table">
		<tbody><tr>
			<td class="ipming">资产</td>
			<td class="ipming">到期时间(GMT)</td>
			<td class="ipming">到期价格</td>
			<td class="ipming">BID</td>
			<td class="ipming">ASK</td>
		</tr>
		<tr>
			<td class="ipnei">索尼</td>
			<td class="ipnei">2016-06-06 02:05:12</td>
			<td class="ipnei">3232.00</td>
			<td class="ipnei"> </td>
			<td class="ipnei"> </td>
		</tr>
		<tr>
			<td class="ipming">索尼</td>
			<td class="ipming">2016-06-06 02:05:12</td>
			<td class="ipming">3232.00</td>
			<td class="ipming"> </td>
			<td class="ipming"> </td>
		</tr>
		<tr>
			<td class="ipnei">索尼</td>
			<td class="ipnei">2016-06-06 02:05:12</td>
			<td class="ipnei">3232.00</td>
			<td class="ipnei"> </td>
			<td class="ipnei"> </td>
		</tr>
		<tr>
			<td class="ipming">索尼</td>
			<td class="ipming">2016-06-06 02:05:12</td>
			<td class="ipming">3232.00</td>
			<td class="ipming"> </td>
			<td class="ipming"> </td>
		</tr>
		<tr>
			<td class="ipnei">索尼</td>
			<td class="ipnei">2016-06-06 02:05:12</td>
			<td class="ipnei">3232.00</td>
			<td class="ipnei"> </td>
			<td class="ipnei"> </td>
		</tr>
		<tr>
			<td class="ipming">索尼</td>
			<td class="ipming">2016-06-06 02:05:12</td>
			<td class="ipming">3232.00</td>
			<td class="ipming"> </td>
			<td class="ipming"> </td>
		</tr>
		<tr>
			<td class="ipnei">索尼</td>
			<td class="ipnei">2016-06-06 02:05:12</td>
			<td class="ipnei">3232.00</td>
			<td class="ipnei"> </td>
			<td class="ipnei"> </td>
		</tr>
		<tr>
			<td class="ipming">索尼</td>
			<td class="ipming">2016-06-06 02:05:12</td>
			<td class="ipming">3232.00</td>
			<td class="ipming"> </td>
			<td class="ipming"> </td>
		</tr>

		<tr>
			<td class="ipnei">索尼</td>
			<td class="ipnei">2016-06-06 02:05:12</td>
			<td class="ipnei">3232.00</td>
			<td class="ipnei"> </td>
			<td class="ipnei"> </td>
		</tr>
		<tr>
			<td class="ipming">索尼</td>
			<td class="ipming">2016-06-06 02:05:12</td>
			<td class="ipming">3232.00</td>
			<td class="ipming"> </td>
			<td class="ipming"> </td>
		</tr>
		<tr>
			<td class="ipnei">索尼</td>
			<td class="ipnei">2016-06-06 02:05:12</td>
			<td class="ipnei">3232.00</td>
			<td class="ipnei"> </td>
			<td class="ipnei"> </td>
		</tr>
		<tr>
			<td class="ipming">索尼</td>
			<td class="ipming">2016-06-06 02:05:12</td>
			<td class="ipming">3232.00</td>
			<td class="ipming"> </td>
			<td class="ipming"> </td>
		</tr>
		<tr>
			<td class="ipnei">索尼</td>
			<td class="ipnei">2016-06-06 02:05:12</td>
			<td class="ipnei">3232.00</td>
			<td class="ipnei"> </td>
			<td class="ipnei"> </td>
		</tr>
		<tr>
			<td class="ipming">索尼</td>
			<td class="ipming">2016-06-06 02:05:12</td>
			<td class="ipming">3232.00</td>
			<td class="ipming"> </td>
			<td class="ipming"> </td>
		</tr>
		<tr>
			<td class="ipnei">索尼</td>
			<td class="ipnei">2016-06-06 02:05:12</td>
			<td class="ipnei">3232.00</td>
			<td class="ipnei"> </td>
			<td class="ipnei"> </td>
		</tr>
		<tr>
			<td class="ipming">索尼</td>
			<td class="ipming">2016-06-06 02:05:12</td>
			<td class="ipming">3232.00</td>
			<td class="ipming"> </td>
			<td class="ipming"> </td>
		</tr>

	</tbody></table>
