<% content_for :page_title  do %>
  <p class="fanhui"> <%= fa_icon "angle-left" %></p>
  <p class="iphonelan">期满价格</p>
<% end %>

<% game_rounds = GameRound.last_round %>
<table class="table">
		<tbody><tr>
			<td class="ipming">资产</td>
			<td class="ipming">到期时间(GMT)</td>
			<td class="ipming">到期价格</td>
			<td class="ipming">BID</td>
			<td class="ipming">ASK</td>
		</tr>
    <% game_rounds.each{|gr| %>
		<tr>
			<td class="ipnei"><%= t "forex.label.#{gr.instrument_code}" %> </td>
			<td class="ipnei"><%= gr.display_end_at %></td>
			<td class="ipnei"><%= gr.instrument_quote %></td>
			<td class="ipnei"> </td>
			<td class="ipnei"> </td>
		</tr>

		<% } %>

	</tbody></table>
