//= require application

$(function () {
  $('.calendar').datetimepicker({format: "YYYY-MM-DD"});

  if( $('#invite_qrcode').is('*'))
  {
		jQuery('#invite_qrcode').empty().qrcode({
	    text: Better.routes.invitable_sign_up(),
	    minVersion: 5,
	    //error correction level: must be 'H', or we can't scan
	    ecLevel: 'H',
	    //empty space
	    quiet: 2,
	    radius: 0.5,
	    size: 300,
	    //add background, color or image
			background: "#ffffff",
	    //background: document.getElementById("code_img"),
	    //add label, ecLevel: 'H', minVersion: 5+ work, label too large may not work
	    mode: 2,
	    label: 'Ballmer Asia',
	    fontname: 'sans',
	    fontcolor: '#FF9818',
	    //add image
	    //mode: 4,
	    //image: document.getElementById("code_img"),
	    //label or img size, position
	    mSize: 0.1,
	    mPosX: 0.5,
	    mPosY: 0.5
	  });
  }

  $(".mingzijian").click(function(){
    var nickname = $("#user_nickname").val();
    $.ajax({url:'/my/account/test_nickname',
      type:'POST',
      data:{
        nickname: nickname
      }
    })
  });

  $(".gongzhongduan2 img").click(function(){
    var image_url = $(this).attr('src');
    $("#avatar").attr("src", image_url);
    $("#user_avatar_remote_url").val(image_url);
  });

  $('a[href="#pm3"]').on('show.bs.tab', function(e) {
    alert("内排期间，暂停使用");
    e.preventDefault();
  });

  $('a[href="#pm5"]').on('show.bs.tab', function(e) {
    alert("内排期间，暂停使用");
    e.preventDefault();
  });

});

function preview_avatar(file){
  var MAXWIDTH  = 80;
  var MAXHEIGHT = 80;
  if (file.files && file.files[0])
  {
    var img = document.getElementById('avatar');
    img.onload = function(){
      var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
      img.width  =  rect.width;
      img.height =  rect.height;
      img.style.marginTop = rect.top+'px';
    }
    var reader = new FileReader();
    reader.onload = function(evt){img.src = evt.target.result;}
    reader.readAsDataURL(file.files[0]);
    $("#user_avatar_remote_url").val("");
  }
  else //兼容IE
  {
    var sFilter='filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src="';
    file.select();
    var src = document.selection.createRange().text;
    var img = document.getElementById('avatar');
    img.filters.item('DXImageTransform.Microsoft.AlphaImageLoader').src = src;
    var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
    status =('rect:'+rect.top+','+rect.left+','+rect.width+','+rect.height);
    div.innerHTML = "<div id=divhead style='width:"+rect.width+"px;height:"+rect.height+"px;margin-top:"+rect.top+"px;"+sFilter+src+"\"'></div>";
  }

}

function select_bank(bank_id, user_bank_json){
  var user_bank = $.parseJSON(user_bank_json);
  var disable = true;
  if(bank_id==""){
    disable = false;
    $("#password_div").show();
    $("#submit_div").show();
    $("#state_div").hide();
  }else{
    $("#password_div").hide();
    $("#submit_div").hide();
    $("#state_div").show();

  }
  $("#user_bank_name").val(user_bank.name).attr("disabled",disable);
  $("#user_bank_card_number").val(user_bank.card_number).attr("disabled",disable);
  $("#user_bank_branch_name").val(user_bank.branch_name).attr("disabled",disable);
  $("#user_bank_address").val(user_bank.address).attr("disabled",disable);
}

function select_bank_for_drawing(bank_id, user_bank_json){
  var user_bank = $.parseJSON(user_bank_json);
  var disable = true;
  if(bank_id==""){
    disable = false;
    if($("#drawing_user_bank_attributes_id").length>0){$("#drawing_user_bank_attributes_id").remove();}
  }else{
    if($("#drawing_user_bank_attributes_id").length>0){
      $("#drawing_user_bank_attributes_id").val(bank_id);
    }else{
      $("#current_money_password").after("<input id='drawing_user_bank_attributes_id' type='hidden' name='drawing[user_bank_attributes][id]'' value='"+bank_id+"'>" );
    }
  }
  $("#drawing_user_bank_attributes_name").val(user_bank.name).attr("disabled",disable);
  $("#drawing_user_bank_attributes_card_number").val(user_bank.card_number).attr("disabled",disable);
  $("#drawing_user_bank_attributes_branch_name").val(user_bank.branch_name).attr("disabled",disable);
  $("#drawing_user_bank_attributes_address").val(user_bank.address).attr("disabled",disable);
}
