/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 @import 'base';
 @import 'swiper.min';
 @import "new/shouji1";
 @import "new/huiyuan";

.masthead
{
  background-color: #428bca;
  box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}
.footer
{
  background-color: silver;

}
.account-nav-item {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 500;
    a{
      color: #cdddeb;
    }
}
.page-title {
  background: #444444 none repeat scroll 0 0;
  height: 4em;
  color: white;
}
.page-body{
  background: #272727 none repeat scroll 0 0;
  color: #dddddd;
  padding: 8px 0;
  .row{
    text-align: center;
  }
}
.huiyuanxinxi{
  padding: 1em 1em 0.5em;
  color:  #dddddd;
  p{
    color: #ffffff;
  }
}
.qrcode{
  text-align: center;
}

.brand{
  color: #000000;
}

body.mobile{

  input.denglu {
    background: #860000 none repeat scroll 0 0;
      width: 100%;
  }

  .sign_up_wrapper {
    background: image-url("new/shouji/kaishe1_02.gif") no-repeat;
    background-size: 100%;
    overflow: hidden;
    color: #ffffff;
    padding: 26px 0;
    #sign_up_form
    {
      input{
        background-color: #ffffff;
      }

      input.get_vercode {
        background: #860000 none repeat scroll 0 0;
        color: #ffffff;
        margin-top: 0;

      }
      input.chuangjiankaihu {
        background: #860000 none repeat scroll 0 0;
          width: 100%;
      }
      .iptiaokuan {
        input{ height: auto;}
        font-size: 60%;
      }

      input.active{
        background: #600000 none repeat scroll 0 0;
      }

      .mobile_black_overlay{display: none;position: absolute;top: 0;left: 0;  right:0; bottom: 0; background-color: black; z-index:1001;-moz-opacity: 0.8; opacity:.80;filter: alpha(opacity=80);}
      .mobile_white_content {display: none;position: absolute;top: 2%;left: 2%;width: 96%; height: 96%; background:#070707;z-index:1002;overflow: auto;}

    }
  }
  .forex-wrapper
  {
    .forex-chart
    {
      height: 300px
    }
    .bid-highlows{
      text-align: center;
      a{ display: inline-block;
        width: 100%;text-align: center;}
    }
    a.bid-highlow
    {
      color: white;
      font-size: 24px;
      height: 70px;
      background-size: contain;
    }
    .bid-highlow-high{
      background: image-url('new/jiaoyi/zishen_74.png') no-repeat;
    }
    .bid-highlow-low{
      background: image-url('new/jiaoyi/zishen_78.png') no-repeat;
    }
    a.apply-submit{
      font-size: 50px;
      font-weight: bold;
      display: inline-block;
      width: 50%;
      margin: 6px;
      background: none;
      color: #fff;
      text-align: center;
    }
    .submit-wrapper{
      clear: both;
      border-radius: 8px;
      background: #146a2d;
      height: 100px;
      margin: auto;
      .countdown-wrapper{
        margin: 12px 24px 0 0;
        float: right;
      }
      .countdown
      {
        background: #023d13;
        border-radius: 10px;
      }
    }
  }
}
