// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.forex-wrapper-mask{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.7;
  color: white;
  z-index: 500;
  text-align: center;
}

.chart-wrapper-mask{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.7;
  color: white;
  z-index: 500;
  text-align: center;
}
.chart-wrapper{
  position: relative;
}
.forex-wrapper{
  position: relative;

  select.bid-amount{
    color: #000000;
  }
  .invoice {
    .close{
      border-radius: 3px;
      background-color: #DEDEDE;
    }
  }
  a.chart-update-icon{
    display: inline-block;
    margin: 0 3px 0 0;
  }
}
.forex-chart{
  background-color: #1D1D1D;
}
.forex-chart-candlestick {
    background-color: #1d1d1d;

}
.forex-simple{

  .xiangqingan {
      margin: 56px 0 0 10px;

  }
  .one_zhang {
      background: #b0afb0 none repeat scroll 0 0;
      padding:  0 20px;
      height: 45px;
      overflow: hidden;
  }
  .chart-wrapper{
    position: relative;
  }
  .forex-chart{
    width: 660px;
    height: 300px;
  }
  .forex-chart-candlestick {
    width: 660px;
    height: 300px;
  }
  .huobiright_ti{

    text-align: center;
    a.bid-highlow{
      display: inline-block;
      padding:  18px 0 0 0;
      width: 120px;
    }
    .game-form-invoice-wrapper{
      padding: 6px;
      .payout h1{
        margin: 6px 0;
      }
      .invoice{
        th{text-align: right;}
        td{
          padding-left: 4px;
          text-align: left;
        }
        a{ width: 100%;
          display: inline-block;
          text-align: center;}
      }
    }
  }
  .payout{
    text-align: center;
    color: #f3d34c;
    font-weight: bold;
  }
}
.forex-list{
  .forex-wrapper{
    background: #3a3a3a none repeat scroll 0 0;
    border-radius: 10px;
    margin-top: 10px;
  }
  .game-form-invoice-wrapper{
    padding: 6px;
    .payout h1{
    }
    .invoice{
      th{text-align: right;}
      td{
        padding-left: 4px;
        text-align: left;
      }
      a{ width: 100%;
        display: inline-block;
        text-align: center;}
    }
  }

	.one_zz1{
		float: left;
		width: 140px;
		overflow: hidden;
		padding-top: 7px;

	}
	.one_zz1 img{
		float: left;
		margin-left: 6px;
		width: 24px;
		height: 24px;
	}

  a { display: inline-block;}
  .huobiright_ti1{
    background-color: #3a3a3a;
  }
  .forex-chart{
    height: 240px;
  }
  .huobiti_right1{
    width: 48%;
    float: right;
    overflow: hidden;
    text-align: center;
  }
  .huobiti_right1 p{
      line-height: 14px;
      margin: 0px;
      color: #f3d34c;
      font-weight: bold;
      height: 22px;
      overflow: hidden;
  }
  .huobiti_right1 h1{
     color: #dbdadb;
      font-size: 46px;
      margin-top: 10px;
      margin-bottom: 15px;
      font-family: 微软雅黑;
      font-weight: bold;
      margin-left: 10px;

  }
  .huobiti_left1{
    float: left;
    width: 50%;

  }
  .huobiti_left1 h4{

      background: #dbdadb;
      border-radius: 7px;
      margin: auto;
      width: 100px;
      margin-top: 20px;
      text-align: center;
  }
  .duichong1 img{
    width: 10px;
    height: 10px;
    margin-right: 2px;
  }
  .duichong1{
    float: right;
    text-align: left;
  }

  .szxd3{
    margin: 15px 27px;
    float: left;

  }
  .szxd4{
    margin: 15px 0px;

  }
  .shouyi1{
    margin:0px;
  }
  .chushou1{
    float: left;
    text-align: right;

  }
  .chushou1 img{
    width: 10px;
    height: 10px;
    margin-right: 2px;
  }
  .jiabei1{
    clear: both;
  }
  .ssshou{
      float: left;
      width: 50%;
      color: #dabf49;
      font-weight: bold;
      margin-top: 36px;
  }

  .sshuou{
    width: 50%;
    float: right;
    padding-top: 10px;
  }
  .sshuou a{
    text-decoration: none;
  }
  .sshuou span{
    padding: 2px 5px;
    background:#aaa;
    color: #333;
    text-align: center;
    margin-left: 5px;
    border-radius: 5px;
    margin-top: 8px;
  }
  .shijiamokuan{
  /*  margin-right: 24px;
    padding-top: 5px;
    */
  }
}

.forex-wrapper{

  .one_zhang1{
    padding: 0 8px;
    background: #b0afb0;
    overflow: hidden;

    border-radius: 10px 10px 0 0;
  }

  .one_zz{
    float: left;
    width: 140px;
    overflow: hidden;
    padding: 6px 0 0 0;

  }
  .one_zz img{
    float: left;
    margin-left: 20px;
    width: 24px;
    height: 24px;
  }

  .one_zz span{
    line-height: 24px;
    color: #555;
    font-weight: bold;
    margin-left: 5px;
  }

  .one_z11{
    /*margin-right: 13px;*/
  overflow: hidden;
  float: right;
  }

  .one_zz1{
		float: left;
		width: 140px;
		overflow: hidden;
		padding-top: 7px;

	}
	.one_zz1 img{
		float: left;
		margin-left: 6px;
		width: 24px;
		height: 24px;
	}

	.one_zz1 span{
		line-height: 24px;
		color: #555;
		font-weight: bold;
		margin-left: 5px;
	}
  .one_zz1 span{
		line-height: 24px;
		color: #555;
		font-weight: bold;
		margin-left: 5px;
	}

  .game-type{
    border:none;
    background-color:#3a3a3a;
    color:white;
    margin:8px 0;
    width:65px;
    float:left;
  }
  .game-type.active{
 	  background-color:#f3d34c;
	  color:#333;
  }
  .btn1{
    border:none;
    background-color:#3a3a3a;
    color:white;
    font-size:14px;
    margin:8px 0;
    width:65px;
    float: left;
  }
  .btn2{
	  border:none;
 	  background-color:#f3d34c;
	  color:#333;
	  font-size:14px;
	  margin:8px 0;
	  width:65px;
	   float: left;
	}
  .expiry-in{
    border:none;
    background-color:#3a3a3a;
    color:white;
    margin:8px 0;
    border-left: 1px solid #fff;
    width: 54px;
  }
  .expiry-in.active{
     background-color:#f3d34c;
    color:#333;
  }
  	.btn3{
  	  border:none;
   	  background-color:#3a3a3a;
  	  color:white;
   	  margin:8px 0;
  	  border-left: 1px solid #fff;
  	  width: 54px;
  	   float: left;
  	}
  	.btn4{
  	  border:none;
   	  background-color:#f3d34c;
  	  color:#333;
  	  /*font-size:14px;*/
  	  margin:8px 0;
  	 border-right: 1px solid #fff;
  	   float: left;
  	}
    .btn5{
      border:none;
      background-color:#3a3a3a;
      color:white;
      margin:8px 0;
      border-right: 1px solid #fff;
    }
    .guoqi_left{
  		float: left;
  		margin-left: 20px;
  		height: 22px;
  	}
  	.guoqi_left img{
  		width: 30px;
  		height: 18px;
  		margin-left: 5px;
  		margin-top: 3px;
  	}
  	.guoqi_left span{
  		margin-left: 5px;
  		color: #555;
  		font-weight: bold;
  		font-size: 11px;
  	}
  	.guoqi_left1{
  		float: left;
  		margin-left: 10px;
  		height: 22px;
  	}
  	.guoqi_left1 img{
  		width: 30px;
  		height: 18px;

  		margin-top: 3px;
  	}
  	.guoqi_left1 span{
  		margin-left: 5px;
  		color: #dbdadb;
  		font-weight: bold;
  		font-size: 11px;
  	}
  	.guoqi_right{
  		float: right;
  		height: 22px;
  	}
  	.guoqi_right1{
  		width: 100%;
  		float: left;
  		clear: both;
  		margin-top: 10px;
  		height: 22px;
  		margin-left: 10px;
  	}
  	.guoqi{
  		overflow: hidden;
  		width: 100%;
  		padding-bottom: 10px;
  	}
    .shijiamokuan{
  		height: 20px;
  	  overflow: hidden;
  		float: right;
  	}
  	.shijiamokuan img{

  		width: 180px;
  		height: 20px;
  	}
    .one_z5 {
        clear: both;
        margin-left: 10px;
    }
    .chushou{
  		float: left;
  		text-align: right;

  	}
  	.chushou img{
  		width: 10px;
  		height: 10px;
  		margin-right: 2px;
  	}


  	.duichong img{
  		width: 10px;
  		height: 10px;
  		margin-right: 2px;
  	}
  	.duichong{
  		float: right;
  		text-align: left;
  	}
  	.jiabei{
  		clear: both;

  	}
    .huobiti_right{
      width: 45%;
      float: right;
      overflow: hidden;
      text-align: center;
      margin-right: 7px;

    }

    .huobiti_right p{
  		  line-height: 14px;
  	    margin: 0px;
  	    color: #f3d34c;
  	    font-weight: bold;
  	    height: 22px;
  	    overflow: hidden;
  	}
    .huobiti_right h1{

        color: #dbdadb;
        font-size: 46px;
        margin-top: 20px;
        margin-bottom: 5px;
        font-family: 微软雅黑;
        font-weight: bold;
    }
}

.forex-grid-cell{

  background: #3a3a3a;
  border-radius: 10px;
  margin: 10px 10px 0 0;
  width: 318px;
  float: left;
  .guoqi span{
    color: #dbdadb;
  }

  .forex-chart{
    height: 190px;
  }

  .huobiti_left2 {
	    float: left;
	    width: 50%;
      text-align: center;
	}
	.huobiti_left2 h4{
		       margin: 10px auto;
	    background: #dbdadb;
	    border-radius: 7px;
	    /* margin: auto; */
	    width: 100px;
	    /* margin-top: 20px; */
	    text-align: center;
	}
  .huobiti_right{
    width: 45%;
    float: right;
    overflow: hidden;
    text-align: center;
    margin-right: 7px;
  }
  .szxd5{
    margin: 25px 30px 0px;
  }
  .szxd6{
    margin: 0px 30px;
  }
  .b-game-round-time-wrapper{
    height: 42px;
    overflow: hidden;
  }
}

.forex-adv{

  .liangleft{
  	width: 75%;
  	float: left;
  }
  .liangleft a{
  	display: inline-block;
  	width: 100%;
  	height:42px;
  	border: 1px solid #000;
  	border-radius: 3px;
  }
  .liangleft a img{
    width: 100%;
    height: 100%;
  }
  .danright{
  	width: 25%;
  	float: right;
  }
  .danright a{
    display: inline-block;
  	width: 100%;
  	height:84px;
  	border: 1px solid #000;
  	border-radius: 3px;
  }
  .danright a img{
    width: 100%;
    height: 100%;
  }
  .kxianti_top{
    position: absolute;
    top: 0;
    left: 0;
  	height: 504px;
  }
  .kxianti_down{
    position: absolute;
  	height: 76px;
    bottom: 0;
  	border-top: 2px solid #000;
  }
  .kxiantitop_anniu{
  	position: absolute;
  	height: 40px;
  	width: 220px;
  	margin: -493px 0 0 10px;
  }
  .kxiantitop_anniu input{
  	width: 32px;
  	height: 30px;
  	float: left;
  	margin: 0 1px;
  }
  .kxiantitop_center{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

   }
  .kxiantitop_center p{
  	color: #fff;
  	text-align: center;
  	line-height: 28px;
  	letter-spacing: 1px;
  }
  .kxiantitop_center span{
    display: inline-block;
    width: 220px;
    height: 30px;
    background: image-url('new/jiaoyi/zishen_47.png');
    background-size: 220px 30px;
  }
  .kxianti{
    height: 540px;
  }
}
.forex-wrapper.forex-simulator-wrapper
{
  margin: 8px 0;
  span{
    margin: auto;
  }
  .expiry-in{
    background-color: #000000;
  }
  .expiry-in.active {
   background-color: #f3d34c;
   color: #333333;
  }
  .btn5{
    background-color: #000000;
  }
  .game-type {
    background-color: #000000;
  }
  .game-type.active {
   background-color: #f3d34c;
   color: #333333;
  }
  .one_zhang{
    background-color: #3a3a3a;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    padding: 0 20px;
  }
  .guoqi{
    background-color: #3a3a3a;
  }
  .b-instrument-last-quote{
    text-align: center;
    marging: 6px 0;
    padding: 2px 12px;
    border-radius: 4px;
    color: #000000;
    background-color: #ffffff;

  }
  .forex-chart-simulator
  {
     height: 210px;
  }
  .huobiright_ti1{
    background-color: #3a3a3a;
    color: #FFFFFF;
    height: 92px;
    padding: 0 20px;
  }
  .sshuou{
    width: 200px;
    text-align: center;
    .rebate{
      font-size: 20px;
    }
  }
  .b-bid-countdown{

  }
  .left_time{
    width: 200px;
    margin: 0 20px;
  }
}

.forex-chart-candlestick.chart-wrapper-hidden{
  height: 0;
}
