.profile{
  background: silver;
}
.user-sidebar
{
  padding: 0;
}
.user-content
{
  padding: 0;
}

span.my-mini-title{
font-size: 15px;
display: block;
border-bottom: 1px solid #e7eff2;
padding-bottom: 12px;
}

div.my-navs{
  min-height: 1020px;
  background-color: #e4e0e5;
  padding-top: 15px;
}
div.my-sub-contents{
width: 987px;
min-height: 975px;
}
div.my-sub-contents div.title{
height: 45px;
width: 100%;
background-color: rgba(255,255,255,0.6);
}
div.my-sub-title{
height: 45px;
line-height: 45px;
padding-left: 30px;
font-size: 16px;
font-weight: 600;
background-color: lightgreen;
}
.my-navs-item{
  display:block;
  height: 40px;
  line-height: 40px;
  margin: 10px 0px;
  padding: 0px 20px;
}
div.my-navs-item-parent{
  height: 40px;
  line-height: 40px;
  margin: 10px 0px;
  padding: 0px 20px;
}
.my-navs-item:hover{
  background-color: #d2cdd4;
  border-right: 4px solid #db1829;
}
.my-navs-item-active{
  background-color: #d2cdd4;
  border-right: 4px solid #db1829;
}
