.profile{
  background: silver;
}
.user-sidebar
{
  padding: 0;
}
.user-content
{
  background-color: #d2cdd4;
  padding: 0;
  .panel
  {
    background-color: #ffffff;
    margin: 15px;
    padding: 15px;
  }
}


span.my-mini-title{
font-size: 15px;
display: block;
border-bottom: 1px solid #e7eff2;
padding-bottom: 12px;
}
.my-navs-item
{
  padding: 20px;
}

div.my-navs{
  /*min-height: 1020px;*/
  background-color: #e4e0e5;
  padding: 15px 0;
}
div.my-sub-contents{
width: 987px;
min-height: 975px;
}
div.my-sub-contents div.title{
height: 45px;
width: 100%;
background-color: rgba(255,255,255,0.6);
}
div.my-sub-title{
  height: 45px;
  line-height: 45px;
  padding-left: 30px;
  font-size: 16px;
  font-weight: 600;
  background-color: lightgreen;
}
