<div >
  <%= better_form_for(@user_bank, :url=>{ :action=>"bind_bank"}, :method=>"post") do |f| %>
    <div class="form-inputs">
      <%=render 'my/account/bank_form_content', bank_form: f%>
    </div>
    <%unless @user_bank.persisted?%>
      <div class="form-actions">
        <%= f.submit "bind bank", class:"btn" %>
      </div>
    <% end %>
  <% end %>
</div>
