<form>
   <table>
     <tbody><tr>
       <td class="gongzhongduan">公众名字：</td>
       <td><input class="gongzhongmingzi" type="text"><input value="检测" class="mingzijian" type="button"></td>
     </tr>
     <tr>
       <td class="gongzhongduan1">公众头像：</td>
       <td><div class="touxiangbg"><input type="file"></div><img src="images/toujingshi.png" class="toujingshi"></td>
       </tr>
       <tr>
       <td class="gongzhongduan1"> </td>
       <td><div class="gongzhongduan2">
        <img src="images/touxiang1.jpg"><img src="images/touxiang2.jpg"><img src="images/touxiang3.jpg"><img src="images/touxiang4.jpg"><img src="images/touxiang5.jpg">
        <img src="images/touxiang6.jpg"><img src="images/touxiang7.jpg"><img src="images/touxiang8.jpg"><img src="images/touxiang9.jpg"><img src="images/touxiang10.jpg">
        <img src="images/touxiang1.jpg"><img src="images/touxiang2.jpg"><img src="images/touxiang3.jpg"><img src="images/touxiang4.jpg"><img src="images/touxiang5.jpg">
        <img src="images/touxiang6.jpg"><img src="images/touxiang7.jpg"><img src="images/touxiang8.jpg"><img src="images/touxiang9.jpg"><img src="images/touxiang10.jpg">
      </div></td>
       </tr>
   </tbody></table>
   <input value="上传" class="txan" style="float: left !important;margin-left: 200px;" type="button">
</form>
