<form class="two_cols_form">
        <ul>
          <li><span class="shortt">名字：</span><input type="text" value="某某" class="lo" id="name"></li>
          <li><span class="shortt">姓氏：</span><input type="text" class="lo" id="xing"></li>
          <li><span>电子邮箱：</span><input type="text" class="lo" id="email"></li>
          <li><span>您的电话：</span><input type="text" class="lo" id="phone"></li>
          <li><span>QQ/号码：</span><input type="text" class="lo" id="qq"></li>
          <li><span>身份正号：</span><input type="text" class="lo" id="card"></li>
          <li><span class="select">出生日期：
          </span>
          <select class="so" id="year">
            <option>年</option>
          </select>
          <select class="so1" id="month">
            <option>月</option>
          </select>
          <select class="so1" id="day">
            <option>日</option>
          </select></li>
          <li><span>详细地址：</span><input type="text" class="lo" id="dress"></li>
          <li><span class="shortt">城市：</span><input type="text" class="lo" id="city"></li>
          <li><span class="shortt">省份：</span><input type="text" class="lo" id="provice"></li>
          <li><span class="shortt">国家：</span><input type="text" class="lo" id="contry"></li>
          <li><span class="shortt">邮编：</span><input type="text" class="lo" id="xiaobian"></li>
        </ul>
        <input type="submit" class="ggtj" value="提交">
      </form>
