
<% symbol = @symbol %>
<div class="forex-simple">

    <div class="">
      <div class=" ">
        <div class="forex-wrapper">
            <div class="row">
              <div class="col-xs-6">
                <select class="form-control" name="b-symbols">
                <% Forex.symbols.each{|symbol| %>
                    <%= content_tag('option', t("forex.symbol.#{symbol}"), class: "", data:{ symbol: symbol}) %>
                <% } %>
                </select>
              </div>
              <div class="col-xs-6">
                <div  class="b-game-round-time-wrapper game-type-1">
                    <select id = "game-expiry-box" name="" class="b-game-expiry-box form-control" >
                      <option value="1481424300000" selected="">今天 10:45</option>
                    </select>
                </div>
              </div>
          </div>

          <%= content_tag "div","", id: "advanced-chart-line-#{symbol}", class: "forex-chart", data: {symbol: symbol} %>
          <div>
            <div class="">
                <div  class="">
                  <div class="row bid-highlows">
                    <div class="col-xs-6">
                      <a  class="bid-highlow bid-highlow-high" >高</a>
                      <span >收益70%</span>
                    </div>
                    <div class="col-xs-6">
                      <a  class="bid-highlow bid-highlow-low" >低</a>
                      <span >收益70%</span>
                    </div>
                  <span id="top_span" class="top_span">1.1185</span>
                  </div>
                  <div class="rightdown_down">
                    <div id="r_left" class="r_left">
                      <%= image_tag "new/jiaoyi/zishen_81.png", alt: "account" %>
                    </div>
                    <div id="r_right" class="r_right">
                      <span class="fuhao">$</span>
                      <input type="text" value="100" id="jiaqina" class="jiaqina">
                    </div>
                    <div id="butongjia" class="butongjia">
                      <div class="bu10"><input type="button" value="+10"></div>
                      <div class="bu10"><input type="button" value="+25"></div>
                      <div class="bu10"><input type="button" value="+50"></div>
                      <div class="bu10"><input type="button" value="+100"></div>
                    </div>
                    <div class="submit-wrapper">
                      <a class="apply-submit"> 交易 </a>

                      <p class="countdown-wrapper">剩余时间<br><span class="countdown">00:00:16</span></p>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>

    </div>
</div>
<%= render 'pages/registry' %>
