<div id="shougerentong">
	<div class="shou_top">
	<h1>电子钱包</h1>
	<p>人金</p>
	</div>
	<div class="shou_down">
		<table>
			<tbody><tr>
				<td>余额</td><td>$100000</td>
			</tr>
			<tr>
				<td>可用现金</td><td>$0</td>
			</tr>
			<tr>
				<td>可用赠金</td><td>$0</td>
			</tr>
			<tr>
				<td>已投资</td><td>$0</td>
			</tr>
		</tbody></table>
	</div>

</div>
