<% content_for :page_title do %>
  <%= link_to "会员管理", admin_users_url %> /
   会员详情
<% end %>

<%= render 'admin/shared/user_tabs', current: @record_for %>

<div>
  <%=render "my/drawings/records", platform: "admin"%>
</div>
