<div> <h2 class="page-header">会员管理 </h2>
</div>
<div>
  <div class="">
    <%=form_tag search_admin_users_path, method:"get", class:"form-inline", role:"form" do%>
      <div class="form-group">
        <label for="start_date">会员名</label>
        <%=text_field_tag "nickname", '', class:"form-control"%>
      </div>
      <div class="form-group">
        <%=submit_tag "查询",  class:"form-control"%>
      </div>
    <%end%>
  </div>
  <div style="padding-top:20px;">
    <%= render partial: "records" %>
  </div>
</div>
