<div id="footer" class="footer">
  <div id="footer_top" >
    <span><%=link_to "联系我们", nil, href:"http://www.ballmerasia.com/info/templets/default/shouji_lianxi.htm" %></span>
    <p>© 版权所有：博马亚洲金融集团</p>
    <p>Ballmer Asia Financial Group</p>
  </div>
  <div id="footer_down">
    <p><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2041096995&Site=www.ballmerasia.com&Menu=yes" style="text-decoration:none;color:white;">QQ客服</a ></p>
    <p><a href="#" style="text-decoration:none;color:white;" onclick="alert('system maintaining.');">English</a ></p>
  </div>
</div>
