<div id="footer" class="footer">
  <div id="footer_top">
    <span><%=link_to "联系我们", nil, href:"http://www.ballmerasia.com/info/templets/default/shouji_lianxi.htm" %></span>
    <p>© 版权所有：博马亚洲金融集团</p>
    <p>Ballmer Asia Financial Group</p>
  </div>
  <div id="footer_down">
    <p>在线电话</p>
    <p>客服咨询</p>
    <p>English</p>
  </div>
</div>
