<div class="container">
	<div id="open-sbl" class="pull-left">
    <%= fa_icon "reorder 2x" %>
	</div>
  <div id="open-sbr" class="pull-right">
    <%= fa_icon "home 2x" %>
	</div>
  <div class="text-center">
	<a class="brand">二元期权</a>
  </div>
</div>
