<div class="container">
	<div id="open-sbl" class="pull-left">
    <%= fa_icon "reorder 2x" %>
	</div>
  <div id="open-sbr" class="pull-right">
		<%=link_to my_account_index_path, class:"brand" do %>
      <%= fa_icon "home 2x" %>
		<%end%>
	</div>
  <div class="text-center">
	<a class="brand">Ballmer Asia</a>
  </div>
</div>
<script type="text/javascript">
  Better.referrer = '<%= request.referrer %>';
</script>
