<div class="masthead">
  <div class="container">
    <%= render 'layouts/nav_links_for_auth' %>
  </div>
</div>
<div class="container">
    <div class="header" >
      <%= link_to "Rails bootstrap", root_path, class: 'navbar-brand' %>
      <ul class="nav navbar-nav">
        <%= render 'layouts/navigation_links' %>
      </ul>
    </div>
</div>
